In [3]:
import requests
import json
import re
from bs4 import BeautifulSoup
import pandas as pd

In [1]:
source_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\LWilson\BNSF\Source Data\\'
output_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\LWilson\BNSF\Output\\'
fileName = r'Team LWilson INT Truck VIN Validation.xlsx'
ClientName = r'BNSF'

In [5]:
for sheetname in DF:
    print(sheetname)

American Water
BNSF
Estes Express
Ferrellgas
Kenan Advant. Group
Performance Food Group
Shred-It
Stan Koch Trucking
Werner Ent.

In [4]:
DF = pd.read_excel(source_dir + fileName,sheet_name=None)
df = DF[ClientName]
display(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
Client                29 non-null object
Manufacturer          29 non-null object
Model/ Engine Type    29 non-null object
VIN                   29 non-null object
Year                  29 non-null int64
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

None

   Client   Manufacturer Model/ Engine Type                VIN  Year
0    BNSF  International      Workstar 7400  1HTWGAAT9BJ336461  2011
1    BNSF  International      Workstar 7500  1HTWNAZT5BJ334281  2011
2    BNSF  International      Workstar 7500  1HTWNAZT3BJ334201  2011
3    BNSF  International      Workstar 7500  1HTWNAZT5BJ334202  2011
4    BNSF  International      Workstar 7600  1HTWYSJTXBJ338951  2011
5    BNSF  International      Workstar 7600  1HTWYSJT1BJ338952  2011
6    BNSF  International      Durastar 4300  1HTMMAANXBH360180  2011
7    BNSF  International      Workstar 7500  1HTWNAZT6BJ336864  2011
8    BNSF  International      Workstar 7500  1HTWNAZT1BJ357993  2011
9    BNSF  International      Workstar 7500  1HTWNAZT7BJ357996  2011
10   BNSF  International      Durastar 4300  1HTMMAAN0BH387629  2011
11   BNSF  International      Workstar 7400  1HTWGAZT9BJ386037  2011
12   BNSF  International      Workstar 7400  1HTWGAZT0BJ386038  2011
13   BNSF  International      Workstar 7500  1HTWNAZTXBJ385954  2011
14   BNSF  International      Workstar 7600  1HTGSSJT0BJ373648  2011
15   BNSF  International      Workstar 7500  1HTWNAZT1BJ348081  2011
16   BNSF  International      Workstar 7500  1HTWNAZT0BJ343230  2011
17   BNSF  International      Workstar 7500  1HTWNAZT6BJ348089  2011
18   BNSF  International      Workstar 7500  1HTWNAZT3BJ348079  2011
19   BNSF  International      Workstar 7500  1HTWNAZT3BJ348082  2011
20   BNSF  International      Workstar 7500  1HTWNAZTXCJ115382  2012
21   BNSF  International      Workstar 7500  1HTWNAZT0DJ158890  2013
22   BNSF  International      Workstar 7500  1HTWNAZT2BJ333010  2011
23   BNSF  International      Workstar 7500  1HTWNAZT5CJ601632  2012
24   BNSF  International      Workstar 7500  1HTWNAZT6CJ050756  2012
25   BNSF  International      Workstar 7500  1HTWNAZT8CJ050757  2012
26   BNSF  International      Workstar 7500  1HTWNAZT7DJ237196  2013
27   BNSF  International      Workstar 7500  1HTWNAZT7DJ297527  2013
28   BNSF  International      Workstar 7500  1HTWNAZT3DJ297525  2013

In [5]:
df.iloc[:,3]

0     1HTWGAAT9BJ336461
1     1HTWNAZT5BJ334281
2     1HTWNAZT3BJ334201
3     1HTWNAZT5BJ334202
4     1HTWYSJTXBJ338951
5     1HTWYSJT1BJ338952
6     1HTMMAANXBH360180
7     1HTWNAZT6BJ336864
8     1HTWNAZT1BJ357993
9     1HTWNAZT7BJ357996
10    1HTMMAAN0BH387629
11    1HTWGAZT9BJ386037
12    1HTWGAZT0BJ386038
13    1HTWNAZTXBJ385954
14    1HTGSSJT0BJ373648
15    1HTWNAZT1BJ348081
16    1HTWNAZT0BJ343230
17    1HTWNAZT6BJ348089
18    1HTWNAZT3BJ348079
19    1HTWNAZT3BJ348082
20    1HTWNAZTXCJ115382
21    1HTWNAZT0DJ158890
22    1HTWNAZT2BJ333010
23    1HTWNAZT5CJ601632
24    1HTWNAZT6CJ050756
25    1HTWNAZT8CJ050757
26    1HTWNAZT7DJ237196
27    1HTWNAZT7DJ297527
28    1HTWNAZT3DJ297525
Name: VIN, dtype: object

In [6]:
responses = pd.Series(None, index=range(len(df)))
responses

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
dtype: float64

In [7]:
for i in range(len(df)):
    print(i)
    VIN = df.iloc[i,3]
    r = requests.post('https://secure.maxxforce11and13.com/en/VinLookup',{'VinNumber':VIN})
    soup = BeautifulSoup(r.text,'lxml')
    target = soup.find('form').find('div',class_ = 'alert alert-danger')
    if target:
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
    else:
        target = soup.find('form').find('div',class_ = 'alert alert-success')
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
responses

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

0     The VIN you entered is not included in the Set...
1     The VIN you entered is not included in the Set...
2     The VIN you entered is not included in the Set...
3     The VIN you entered is not included in the Set...
4     The VIN you entered is not included in the Set...
5     The VIN you entered is not included in the Set...
6     The VIN you entered is not included in the Set...
7     The VIN you entered is not included in the Set...
8     The VIN you entered is not included in the Set...
9     The VIN you entered is not included in the Set...
10    The VIN you entered is not included in the Set...
11    The VIN you entered is not included in the Set...
12    The VIN you entered is not included in the Set...
13    The VIN you entered is not included in the Set...
14    The VIN you entered is included in the Settlem...
15    The VIN you entered is not included in the Set...
16    The VIN you entered is not included in the Set...
17    The VIN you entered is not included in the Set...
18    The VIN you entered is not included in the Set...
19    The VIN you entered is not included in the Set...
20    The VIN you entered is not included in the Set...
21    The VIN you entered is not included in the Set...
22    The VIN you entered is not included in the Set...
23    The VIN you entered is not included in the Set...
24    The VIN you entered is not included in the Set...
25    The VIN you entered is not included in the Set...
26    The VIN you entered is not included in the Set...
27    The VIN you entered is not included in the Set...
28    The VIN you entered is not included in the Set...
dtype: object

In [8]:
df['Response'] = responses.values

In [9]:
df

,Client,Manufacturer,Model/ Engine Type,VIN,Year,Response
0,BNSF,International,Workstar 7400,1HTWGAAT9BJ336461,2011,The VIN you entered is not included in the Set...
1,BNSF,International,Workstar 7500,1HTWNAZT5BJ334281,2011,The VIN you entered is not included in the Set...
2,BNSF,International,Workstar 7500,1HTWNAZT3BJ334201,2011,The VIN you entered is not included in the Set...
3,BNSF,International,Workstar 7500,1HTWNAZT5BJ334202,2011,The VIN you entered is not included in the Set...
4,BNSF,International,Workstar 7600,1HTWYSJTXBJ338951,2011,The VIN you entered is not included in the Set...
5,BNSF,International,Workstar 7600,1HTWYSJT1BJ338952,2011,The VIN you entered is not included in the Set...
6,BNSF,International,Durastar 4300,1HTMMAANXBH360180,2011,The VIN you entered is not included in the Set...
7,BNSF,International,Workstar 7500,1HTWNAZT6BJ336864,2011,The VIN you entered is not included in the Set...
8,BNSF,International,Workstar 7500,1HTWNAZT1BJ357993,2011,The VIN you entered is not included in the Set...
9,BNSF,International,Workstar 7500,1HTWNAZT7BJ357996,2011,The VIN you entered is not included in the Set...
10,BNSF,International,Durastar 4300,1HTMMAAN0BH387629,2011,The VIN you entered is not included in the Set...
11,BNSF,International,Workstar 7400,1HTWGAZT9BJ386037,2011,The VIN you entered is not included in the Set...
12,BNSF,International,Workstar 7400,1HTWGAZT0BJ386038,2011,The VIN you entered is not included in the Set...
13,BNSF,International,Workstar 7500,1HTWNAZTXBJ385954,2011,The VIN you entered is not included in the Set...
14,BNSF,International,Workstar 7600,1HTGSSJT0BJ373648,2011,The VIN you entered is included in the Settlem...
15,BNSF,International,Workstar 7500,1HTWNAZT1BJ348081,2011,The VIN you entered is not included in the Set...
16,BNSF,International,Workstar 7500,1HTWNAZT0BJ343230,2011,The VIN you entered is not included in the Set...
17,BNSF,International,Workstar 7500,1HTWNAZT6BJ348089,2011,The VIN you entered is not included in the Set...
18,BNSF,International,Workstar 7500,1HTWNAZT3BJ348079,2011,The VIN you entered is not included in the Set...
19,BNSF,International,Workstar 7500,1HTWNAZT3BJ348082,2011,The VIN you entered is not included in the Set...
20,BNSF,International,Workstar 7500,1HTWNAZTXCJ115382,2012,The VIN you entered is not included in the Set...
21,BNSF,International,Workstar 7500,1HTWNAZT0DJ158890,2013,The VIN you entered is not included in the Set...
22,BNSF,International,Workstar 7500,1HTWNAZT2BJ333010,2011,The VIN you entered is not included in the Set...
23,BNSF,International,Workstar 7500,1HTWNAZT5CJ601632,2012,The VIN you entered is not included in the Set...
24,BNSF,International,Workstar 7500,1HTWNAZT6CJ050756,2012,The VIN you entered is not included in the Set...
25,BNSF,International,Workstar 7500,1HTWNAZT8CJ050757,2012,The VIN you entered is not included in the Set...
26,BNSF,International,Workstar 7500,1HTWNAZT7DJ237196,2013,The VIN you entered is not included in the Set...
27,BNSF,International,Workstar 7500,1HTWNAZT7DJ297527,2013,The VIN you entered is not included in the Set...
28,BNSF,International,Workstar 7500,1HTWNAZT3DJ297525,2013,The VIN you entered is not included in the Set...

In [10]:
df['Response'].value_counts()

The VIN you entered is not included in the Settlement as a Class Vehicle.    28
The VIN you entered is included in the Settlement as a Class Vehicle.         1
Name: Response, dtype: int64

In [ ]:
df.columns

In [11]:
df.to_excel(output_dir + 'LWilson_' + ClientName + ' with response.xlsx',index = False)