In [2]:
import pandas as pd
import glob

In [204]:
FileName = glob.glob('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\*.*')

In [4]:
FileName

['C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\01-17-2013 - Mattress Firm - Adhoc #50358.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\01-17-2013 - Mattress Firm - Adhoc.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\2.4.29 2.4.10_Debt Schedules_MLI (No APC Data).xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\2014-15 Auto Schedule.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\2014Q2 Truck Inventory Update 2014-07-28.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Auto Schedule as of 10.10.12.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Auto Schedule as of 11.5.13. sent for renewal.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\CHECKLIST FOR VEHICLE TRANSFERS.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.14.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Chicago Truck Information.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Q2-2013 Truck Inventory Update JK Revised.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Researched Vehicle Data.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\HAA Status.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Mattress Firm Auto Parts Schedule.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Mattress Inc 2014 Final Vehicle List.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Mattress Liquidator Trucks.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\MF List.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P1-2013 Truck Detail.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P1-2013 Truck Inventory Update.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P1-2013 Truck Inventory.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P1-2013 Truck Moves.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P1-2013 Trucks.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P3-2013 Truck Inventory Update.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P3-2013 Truck Inventory.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\P3-2013 Trucks.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\PD01-FY2014 Truck Inventory Update 043014.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Penske Lease List_032612.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Proj Hawk - Truck Requirements.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck HAA 112213.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory HAA 112213.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory Update 081913 - 12 16 13.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory Update 081913.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory Update.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Truck Inventory.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Q2-2013 Trucks.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Vehicle (073000) Details.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Vehicle (073000).xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Vehicle Inventory Spreadsheet 08 19 13.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Vehicle Inventory Spreadsheet.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Vehicles Inventory Spreadsheet.xls',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\VH Report for Kamal - F12 P11.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\~$CHECKLIST FOR VEHICLE TRANSFERS.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\~$Chicago Truck Information.xlsx',
 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\~$Mattress Firm Auto Parts Schedule.xlsx']

In [76]:
df1 = pd.read_excel(FileName[0],sheet_name=None)
for sheet in df1:
    print(len(df1[sheet]))

27
12

In [60]:
type(df1)
display(df1[list(df1.keys())[1]].columns)
display(df1[list(df1.keys())[1]].columns.str.contains('state|vin',regex = True, case = False))
df1[list(df1.keys())[1]].columns.str.lower().str.contains('vin')

Index(['Customer Number', 'Customer Name', 'Bill Group', 'Penske District #',
       'Penske District Name', 'Penske Unit Number', 'Vehicle Category',
       'Description', 'Year', 'Make', 'Model', 'VIN #',
       'Usage (Power /Reefer)', 'Original In-Service Date',
       'Contract Expiration Date', 'Schedule A #', 'Schedule A Date',
       'Lease Type', 'Lease Date', 'Current Fixed Rate',
       'Current Mileage Rate', 'Last Mileage Reading', 'License Plate #',
       'License Plate State', 'Vehicle Mfr's Gross Weight'],
      dtype='object')

array([False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True, False])

array([False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [61]:
df1['Output'].loc[:,df1[list(df1.keys())[1]].columns.str.contains('state|vin',regex = True, case = False)]

                   VIN # License Plate State
0      1FVACWCS77DZ23370                  FL
1      1FVACWDT9CHBP3080                  TX
2      1FVACWDT0CHBP3081                  TX
3      1FVACWDT2CHBP3082                  FL
4      1FVACWCS97DZ23368                  TX
5      1FVACWDT4CHBP3083                  FL
6      1FVACWDT6CHBP3084                  FL
7
8      1FVACWCS07DZ23369                  FL
9      1FVACWCS97DZ23371                  FL
10     1FVACWDT8CHBP3085                  TX
11     1HTMMAAL96H319768                  NV

In [118]:
FileName[1].split('\\')[-1]

'01-17-2013 - Mattress Firm - Adhoc.xlsx'

In [134]:
Dict = {}
for i,file in enumerate(FileName):
    print('#of file',i)
    DF = pd.read_excel(file,sheet_name=None)
    for sheet in DF:        
        if len(DF[sheet]) > 0:
            if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                Dict['FileName: ' + file.split('\\')[-1] + " | SheetName: " + sheet] = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]

#of file 0
#of file 1
#of file 2
#of file 3
#of file 4
#of file 5
#of file 6
#of file 7
#of file 8
#of file 9
#of file 10
#of file 11
#of file 12
#of file 13
#of file 14
#of file 15
#of file 16
#of file 17
#of file 18
#of file 19
#of file 20
#of file 21
#of file 22
#of file 23
#of file 24
#of file 25
#of file 26
#of file 27
#of file 28
#of file 29
#of file 30
#of file 31
#of file 32
#of file 33
#of file 34
#of file 35
#of file 36
#of file 37
#of file 38
#of file 39
#of file 40
#of file 41
#of file 42
#of file 43

In [137]:
result = pd.concat(Dict,sort=False)
result.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\result.xlsx')

In [52]:
DF = pd.read_excel(FileName[40],sheet_name='Sheet1',dtype=str)
display(DF.columns)
DF.columns.str.contains('state|vin',regex = True, case = False,na=False)
# DF.loc[:1,DF.columns.str.contains('state|vin',regex = True, case = False)]

Index([2000, 'Ford', 'F-150', 'Unnamed: 3', '2000 Ford F-150'], dtype='object')

array([False, False, False, False, False])

In [59]:
DF = pd.read_excel(FileName[1],sheet_name = 1,dtype=str)
display(DF.columns)
DF.columns[DF.columns.str.contains('state|vin',regex = True, case = False,na=False)]
# DF.loc[:1,DF.columns.str.contains('state|vin',regex = True, case = False)]

Index(['Customer Number', 'Customer Name', 'Bill Group', 'Penske District #',
       'Penske District Name', 'Penske Unit Number', 'Vehicle Category',
       'Description', 'Year', 'Make', 'Model', 'VIN #',
       'Usage (Power /Reefer)', 'Original In-Service Date',
       'Contract Expiration Date', 'Schedule A #', 'Schedule A Date',
       'Lease Type', 'Lease Date', 'Current Fixed Rate',
       'Current Mileage Rate', 'Last Mileage Reading', 'License Plate #',
       'License Plate State', 'Vehicle Mfr's Gross Weight'],
      dtype='object')

Index(['VIN #', 'License Plate State'], dtype='object')

In [83]:
for file in FileName:
    DF = pd.read_excel(file,sheet_name=None)
    for sheet in DF:
        if len(DF[sheet]) > 0:
            print(DF[sheet].loc[:1,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)])
        else:
            print(sheet, 'empty')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
                   VIN # License Plate State
0      1FVACWCS77DZ23370                  FL
1      1FVACWDT9CHBP3080                  TX
2      1FVACWDT0CHBP3081                  TX
3      1FVACWDT2CHBP3082                  FL
4      1FVACWCS97DZ23368                  TX
5      1FVACWDT4CHBP3083                  FL
6      1FVACWDT6CHBP3084                  FL
7
8      1FVACWCS07DZ23369                  FL
9      1FVACWCS97DZ23371                  FL
10     1FVACWDT8CHBP3085                  TX
11     1HTMMAAL96H319768                  NV
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
                   VIN # License Plate State
0      1FVACWCS77DZ23370                  FL
1      1FVACWDT9CHBP3080                  TX
2      1FVACWDT0CHBP3081                  TX
3      1FVACWDT2CHBP3082                  FL
4      1FVACWCS97DZ23368                  TX
5      1FVACWDT4CHBP3083                  FL
6      1FVACWDT6CHBP3084                  FL
7
8      1FVACWCS07DZ23369                  FL
9      1FVACWCS97DZ23371                  FL
10     1FVACWDT8CHBP3085                  TX
11     1HTMMAAL96H319768                  NV
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[162 rows x 0 columns]
Sheet2 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[162 rows x 0 columns]
Sheet2 empty
               VIN No. Garaged State  \
0    JNAMB80H05AN50271            AR
1                  NaN            AZ
2                  NaN            AZ
3    1FDWE35L03HBA3045            FL
4    1FVACWCS07DZ23369            FL
5    1FVACWCS97DZ23371            FL
6    5PVNE8JV0B4S51886            FL
7    J8DB4B16X67005877            FL
8    5PVNE8JV6B4S51889            FL
9    JALB4B1K8V7006781            FL
10   11VACWDT6CHBP3084            FL
11   1FVACWDT2CHBP3082            FL
12   1FVACWDT4CHBP3083            FL
13   1FDKF37G4VEB50131            GA
14   5PVNE8JV5B4S51883            GA
15   1FDKF37G4SNB14709            GA
16   J8BB4B16367019788            IL
17   JNAMB80H75AN50056            NC
18   1FTZF1720YNC03570            NC
19   JNAMB43H14AN75277            NC
20   JNAMB43H82AN65116            NC
21   JNAMB80HX5AN50150            NC
22   1HTMMAAL96H319768            NV
23   1FVACWCS77DZ23370            GA
24   3FRLL45Z56V411321            OH
25   JNAMB80H75AN50221            SC
26  1FVACWDT9CHBP3080             TX
27   1FVACWDTOCHBP3081            TX
28   1FVACWCS97DZ23368            TX
29   1FVACWDT8CHBP3085            TX
30   1HTMMAAM54H608670            VA
31   1HTSCABM11H388660            VA
32   J8DE5W16887301632            VA
33   JALB4B14927010190            VA
34                 NaN           NaN
35                 NaN           NaN
36                 NaN           NaN
37                 NaN           NaN
38                 NaN           NaN
39                 NaN           NaN
40                 NaN           NaN
41                 NaN           NaN
42                 NaN           NaN

   Will this vehicle cross any state lines while traveling? If so, which ones?
0                                  washingington cnty
1                                                 NaN
2                                                 NaN
3       Emailed Justin Cassell 10/26 for missing info
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13  Mattress Xpress - need more info on location c...
14  Mattress Xpress - need more info on location c...
15  Mattress Xpress - need more info on location c...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22             9/11/12 asked Corinna for plate number
23                                                NaN
24                             Inter-State (OH/IN/PN)
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
               VIN No. Garaged State  \
0    1FVACWCS97DZ23368            TX
1   1FVACWDT9CHBP3080             TX
2    1FVACWDTOCHBP3081            TX
3    1FVACWDT8CHBP3085            TX
4    1FDKF37G4VEB50131            GA
5    5PVNE8JV5B4S51883            GA
6    1FDKF37G4SNB14709            GA
7    JNAMB43H14AN75277            NC
8    JNAMB43H82AN65116            NC
9    JNAMB80H75AN50056            NC
10   JNAMB80HX5AN50150            NC
11   JNAMB80H05AN50271            AR
12   JALB4B1K8V7006781            FL
13                 NaN            AZ
14                 NaN            AZ
15   3FRLL45Z56V411321            OH
16   JNAMB80H75AN50221            SC
17   1FDWE35L03HBA3045            FL
18   5PVNE8JV0B4S51886            FL
19   J8DB4B16X67005877            FL
20   5PVNE8JV6B4S51889            FL
21   11VACWDT6CHBP3084            FL
22   1FVACWDT2CHBP3082            FL
23   1FVACWDT4CHBP3083            FL
24   1FVACWCS07DZ23369            FL
25   1FVACWCS97DZ23371            FL
26   1FVACWCS77DZ23370            GA
27   1HTMMAAL96H319768            NV
28   1HTMMAAM54H608670            VA
29   1HTSCABM11H388660            VA
30   J8DE5W16887301632            VA
31   JALB4B14927010190            VA
32   J8BB4B16367019788            IL
33                 NaN           NaN
34                 NaN           NaN
35                 NaN           NaN
36                 NaN           NaN
37                 NaN           NaN
38                 NaN           NaN
39                 NaN           NaN
40                 NaN           NaN
41                 NaN           NaN

   Will this vehicle cross any state lines while traveling? If so, which ones?
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4   Mattress Xpress - need more info on location c...
5   Mattress Xpress - need more info on location c...
6   Mattress Xpress - need more info on location c...
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                 washingington cnty
12                                                NaN
13                                                NaN
14                                                NaN
15                             Inter-State (OH/IN/PN)
16                                                NaN
17      Emailed Justin Cassell 10/26 for missing info
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27             9/11/12 asked Corinna for plate number
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                 VIN # State
0    1FTZF1720YNC03570    NC
1    1FTZF17253NB95913    NC
2    JNAMB80HX5AN50150    NC
3    JNAMB43H14AN75277    NC
4    1FTZF1723XNC27926    SC
5    JL6BBG1S46K007615    SC
6    1FVACWDT4CHBP3083    FL
7    1FVACWDT6CHBP3084    FL
8    JL6BBG1S37K001968    OR
9    JL6AAG1S98K010625    IN
10   jl6aag1s98k006834    SC
11   1ftrf17w23na12115    SC
12   J8DB4B16X67005877    AL
13  1FVACWDTZ2CHBP3082    FL
14   JL6AAG1S88K001186    NC
15   1FVACWDT0CHBP3081    OK
16  JNAMB80H75AN005622    NC
17   JL6AAF1H34K011164    NC
18   1FVACWDR8CHBC9891    AZ
19   JL6DGP1E37K015680    AZ
20   JNAMB8OH75AN50221    SC
21   JL6BBG1516K011248    SC
22   IFTDF15475NA80178    SC
23    J8BB4B1637019788    WA
24   JL6BBG1S7AK009528    ID
25   JL6AAG1588K010731    ID
26   1FVACWCS07DZ23369    FL
27   1FVACWCS97DZ23371    FL
28   5PVNE8JV6B4S51889    FL
29   JALB4B1K8V7006781    FL
30   JL6DGM1E27K009948    TX
31   1FVACWDT9CHBP3080    TX
32   1HTMMAAM54H608670    VA
33   1HTSCABM11H388660    VA
34   JALB4B14927010190    VA
35   J8DE5W16887301632    VA
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Sheet2 empty
Sheet3 empty

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                VIN # State
0   JL6AAG1S88K010731    WA
1   3ALACWDT2EDFX4964    WA
2   3ALACWDT9FDGM5160    WA
3   JALC4W166J7008036    WA
4   JALC4W163D7003431    FL
5   JALC4W160E7002934    HI
6   JALC4W162J7007191    HI
7   5PVNE8JV5B4S51883    GA
8   1GCFG15X451214475    NY
9   1PT01JAH9N9010097    NY
10  1GCEC14W8YZ356656    HI
11  JALC4W160J7007173    HI
12  JALC4W164J7008052    HI
13  JALC4W166J7007176    HI
14  JALE5W163L7900334    HI
15  JL6BBG1S46K007615    SC
16  JALC4W160E7002948    HI
17  JL6BBG1S7AK009528    ID
18  3ALACWDT7FDGC9311    ID
19  JALB4W179G7F00768    ID
20  3ALACWDT2GDHS7720    MI
21  JALC4W160H7000220    OH
22  1FVACWDT4CHBP3083    FL
23  1FVACWDT2CHBP3082    FL
24  1FVACWDT6CHBP3084    FL
25  1HTMMAAM15H132337    WA
26  JALB4W178G7F00048    WA
27  3ALACWDT4EDFV8099    WA
28  3ALACWDT3EDFW0068    WA
29  JALC4W166G7002570    PA
..                ...   ...
49  1UYVS2533J7353650    TX
50  1GRAA06215T520455    VA
51  1JJV532U0VL384934    VA
52  3H3V532C7WT037058    VA
53  JALC4W16XJ7008749    OR
54  3ALACWDT5FDGA7551    WA
55  J8DE5W16887301632    TN
56  J8BB4B14247003691    TN
57  3ALACWDT4GDHS7721    MI
58  3ALACWDT6GDHS7722    MI
59  1HTMMMML2JH463247    TX
60  1FDUF4GY0CEC58444    CO
61  5PVNJ8JTX82S51313    CO
62  3ALACWFC4JDJV3428    CO
63  3ALACWFC3YDJY2371    TX
64  JALC4W163D7003476    TN
65  JL6AAG1S88K001186    VA
66  JNAMB80H75AN50056    VA
67  3ALACVDU5EDFX4962    CA
68  3ALACWFC6JDJV8193    OR
69  54DC4W1B6ES801592    WI
70  3H3V532C1KR048127    TX
71   1FAFP34N17W94406   NaN
72  1J4NT4GB1BD175620   NaN
73  1C4NJPBB9CD570926   NaN
74  1C4NJPBBXCD634925   NaN
75  1C4NJPBB3DD169681   NaN
76  1C4NJPBB3ED715297   NaN
77  5PVNJ8JV6B4S53119   NaN
78  5PVNJ8JV4C4S53413   NaN

[79 rows x 2 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Sheet2 empty
Sheet3 empty
                         VIN # State
0            1GKEK63U14J145540    WA
1            WDBUF83J94X162837    WA
2            1GCC5149X78137951    WA
3            1G1ZS58F77F146757    WA
4            1FDXE45F33HB85697    WA
5            1FTRE14W44HA03827    WA
6            1FDXE45P44HA69404    OR
7            1FTRE14W56HA57088    WA
8            1FTRE14W45HA21150    OR
9            1FTRE14W66DA97431    WA
10           1B01A4522ES113364    WA
11           1UYVS2486CT703413    WA
12           1PT02DAH3J9010489    WA
13           1BK10VA24EE210702    WA
14           1FVACWDC17HY45622    WA
15           1FVACWDC17HY45653    WA
16           1FVACWDC37HY45623    WA
17           1FVACWDC57HY45624    WA
18           1FVACWDCE7HY45649    WA
19           1FVACWDC67HY45650    WA
20           1FVACWDC87HY45651    WA
21           1FVACWDCE7HY45652    WA
22           1FVACWDC37HY45654    WA
23           1FVACWDC57HY45655    WA
24           1FVACWDC77HY45656    WA
25           1FVABSBS31HF53423    WA
26           1FVABSAK51HJ26047    WA
27           1FVABSAK71HJ26048    WA
28           1FVABSAK91HJ26049    WA
29           JALC4B16777009097    OR
..                         ...   ...
168                        NaN    CA
169          JN1CA31D3YT708642    CA
170                        NaN    HI
171          5PVNE8JV0B4S51886    FL
172                      Truck    FL
173                        NaN    WI
174                        NaN    WI
175                        NaN    ID
176  Sleepys VH Vin 1CGFG15X57    NY
177  Sleepys VH Vin 1CGFG15X96    NY
178  Sleepys VH Vin 1GCEG15X28    NY
179  Sleepys VH Vin 1GCEG15X28    NY
180  Sleepys VH Vin 1GCFG15X45    NY
181  Sleepys VH Vin 1GCFG15X47    NY
182  Sleepys VH Vin 1GCFG15X57    NY
183  Sleepys VH Vin 1GRAA06215    NY
184  Sleepys VH Vin 1JJV532U0V    NY
185  Sleepys VH Vin 1JJV532U7V    NY
186  Sleepys VH Vin 1PT01JAH9N    NY
187  Sleepys VH Vin 1PT01JRH2N    NY
188  Sleepys VH Vin 1PT01JRH7N    NY
189  Sleepys VH Vin 1PT01JRH7N    NY
190  Sleepys VH Vin 2HGFB2E50C    NY
191  Sleepys VH Vin 3H3V532CTW    NY
192  Sleepys VH Vin JALC4B1637    NY
193  Sleepys VH Vin JL6CCJLS67    NY
194  Sleepys VH Vin JW6AAF1H5V    NY
195  Sleepys VH Vin JW6AAF1H6V    NY
196  Sleepys VH Vin JW6DDK1E5V    NY
197  Sleepys VH Vin JW6DDL1E1V    NY

[198 rows x 2 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[137 rows x 0 columns]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []

Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
                VIN #
0   JL6BBG1S37K001869
1   JL6AAG1S88K010731
2   JL6AAF1H34K011164
3   JL6AAG1S48K006854
4   JL6BBG1S07K002378
5   JL6BBG1S67K010890
6    JL6AAG1S98K01065
7    1FYACWDT8CHB9891
8   JL6BBG1S96K007545
9    JL6DGM1E27K00948
10  JL6DGP1E37K015680
11   JL6BBG1S7AK09528
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
                VIN #
0   JL6BBG1S37K001869
1   JL6AAG1S88K010731
2   JL6AAF1H34K011164
3   JL6AAG1S48K006854
4   JL6BBG1S07K002378
5   JL6BBG1S67K010890
6    JL6AAG1S98K01065
7    1FYACWDT8CHB9891
8   JL6BBG1S96K007545
9    JL6DGM1E27K00948
10  JL6DGP1E37K015680
11   JL6BBG1S7AK09528
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

[82 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

[82 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

[82 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sheet2 empty
Sheet3 empty

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
                  VIN License Plate State States Traveled
0                 NaN                 NaN             NaN
1   1FVACWDC54HN23271                  FL         Florida
2   1FVACWDC94HN23273                  MN         Florida
3   1FVACWDC74HN20792                  DE         Florida
4   1FVACWCS07DZ23369                  FL         Florida
5   1FVACWCS77DZ23370                  FL         Florida
6   1FVACWCS97DZ23371                  FL         Florida
7                 NaN                 NaN             NaN
8                 NaN                 NaN             NaN
9   1FVACWDC74HN23272                  FL         Florida
10  1FVACWDC64HN23277                  FL         Florida
11  1FVACWDC84HN23278                  FL         Florida
12                NaN                 NaN             NaN
13                NaN                 NaN             NaN
14  1FVACWDCX4HN23265                  TX           Texas
15  1FVACWDC14HN23266                  TX           Texas
16                NaN                 NaN             NaN
17                NaN                 NaN             NaN
18  1FVACWDC34HN23267                  TX           Texas
19  1FVACWCS97DZ23368                  TX           Texas
20                NaN                 NaN             NaN
21                NaN                 NaN             NaN
22                NaN                 NaN             NaN
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[160 rows x 0 columns]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[160 rows x 0 columns]
Sheet2 empty
Sheet3 empty
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

ValueError: Location based indexing can only have [labels (MUST BE IN THE INDEX), slices of labels (BOTH endpoints included! Can be slices of integers if the index is integers), listlike of labels, boolean] types

In [ ]:
Dict = {}
for i,file in enumerate(FileName):
    print('#of file',i)
    DF = pd.read_excel(file,sheet_name=None)
    for sheet in DF:        
        if len(DF[sheet]) > 0:
            if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                Dict['FileName: ' + file.split('\\')[-1] + " | SheetName: " + sheet] = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]

In [212]:
Dict = {}
for i,file in enumerate(FileName):
    print('#of file',i)
    DF = pd.read_excel(file,sheet_name=None)
    Dict[file.split('\\')[-1]] =pd.DataFrame()
    for i,sheet in enumerate(DF):

        if len(DF[sheet]) > 0:
            if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                df = pd.DataFrame({'Index of Sheet':i+1,'SheetName': [str(sheet)],'Firstrow Contains Information':['Yes']})
                
            else:
                df = pd.DataFrame({'Index of Sheet':i+1,'SheetName': [str(sheet)],'Firstrow Contains Information':['No']})
        else:
            df = pd.DataFrame({'Index of Sheet':i+1,'SheetName': [str(sheet)],'Firstrow Contains Information':['Empty Sheet']})
        Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
#         Dict[file.split('\\')[-1]]['Number of sheets'] = len(DF)

#of file 0
#of file 1
#of file 2
#of file 3
#of file 4
#of file 5
#of file 6
#of file 7
#of file 8
#of file 9
#of file 10
#of file 11
#of file 12
#of file 13
#of file 14
#of file 15
#of file 16
#of file 17
#of file 18
#of file 19
#of file 20
#of file 21
#of file 22
#of file 23
#of file 24
#of file 25
#of file 26
#of file 27
#of file 28
#of file 29
#of file 30
#of file 31
#of file 32
#of file 33
#of file 34
#of file 35
#of file 36
#of file 37
#of file 38
#of file 39
#of file 40
#of file 41
#of file 42
#of file 43

In [213]:
QC_table = pd.concat(Dict,sort = False)
QC_table.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\QC_table.xlsx',index = True,header = True,index_label = ['File Name',''])

## TEST

In [156]:
FileName[11:12]

['C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls']

In [200]:
FileName = glob.glob('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\*.*')
display(FileName[11:12])
FileName = FileName[11:12]
Dict = {}
for skiprows in range(13,25):
    print(skiprows)
    print(Dict.keys())
    for i,file in enumerate(FileName):
        DF = pd.read_excel(file,sheet_name=None,skiprows = skiprows, dtype=str)
        if file.split('\\')[-1]  not in Dict:
            for sheet in DF:
                if file.split('\\')[-1]  not in Dict:
                    if len(DF[sheet]) > 0:
                        if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                            df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                            df.insert(0,'FileName',file.split('\\')[-1])
                            df.insert(1,'Sheet' ,sheet)
                            df.insert(2,'headerrow', skiprows)
                            Dict[file.split('\\')[-1]] = df
                else:
                     if len(DF[sheet]) > 0:
                        if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                            df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                            df.insert(0,'FileName',file.split('\\')[-1])
                            df.insert(1,'Sheet' ,sheet)
                            df.insert(2,'headerrow', skiprows)
                            Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
        else:
            for sheet in DF:
                if file.split('\\')[-1]  not in Dict:
                    if len(DF[sheet]) > skiprows:
                        if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                            df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                            df.insert(0,'FileName',file.split('\\')[-1])
                            df.insert(1,'Sheet' ,sheet)
                            df.insert(2,'headerrow', skiprows)
                            Dict[file.split('\\')[-1]] = df
                else:
                     if len(DF[sheet]) > 0:
                        if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                            df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                            df.insert(0,'FileName',file.split('\\')[-1])
                            df.insert(1,'Sheet' ,sheet)
                            df.insert(2,'headerrow', skiprows)
                            Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
        
        
                
                
                

result = pd.concat(Dict,sort=False)
result.info()

['C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls']

13
dict_keys([])
14
dict_keys([])
15
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
16
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
17
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
18
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
19
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
20
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
21
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
22
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
23
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
24
dict_keys(['Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls'])
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 63 entries, (Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls, 0) to (Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls, 4)
Data columns (total 4 columns):
FileName     63 non-null object
Sheet        63 non-null object
headerrow    63 non-null int64
VIN No.      54 non-null object
dtypes: int64(1), object(3)
memory usage: 2.6+ KB

                                                                                               FileName  \
Copy of Q2-2013 Truck Inventory Update 081913 -... 0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   4  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   4  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   5  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   6  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   7  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
...                                                                                                 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   0  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   1  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   2  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   3  Copy of Q2-2013 Truck Inventory Update 081913 ...
                                                   4  Copy of Q2-2013 Truck Inventory Update 081913 ...

                                                                      Sheet  \
Copy of Q2-2013 Truck Inventory Update 081913 -... 0    Jacksonville 016000
                                                   0            Update Form
                                                   0         Houston 001000
                                                   1         Houston 001000
                                                   0         Atlanta 007000
                                                   1         Atlanta 007000
                                                   2         Atlanta 007000
                                                   3         Atlanta 007000
                                                   0            Mebane 1300
                                                   1            Mebane 1300
                                                   2            Mebane 1300
                                                   3            Mebane 1300
                                                   4            Mebane 1300
                                                   0       Charlotte 024000
                                                   1       Charlotte 024000
                                                   2       Charlotte 024000
                                                   3       Charlotte 024000
                                                   4       Charlotte 024000
                                                   5       Charlotte 024000
                                                   6       Charlotte 024000
                                                   7       Charlotte 024000
                                                   0  St. Petersburg 025000
                                                   1  St. Petersburg 025000
                                                   0          Phoenix 02900
                                                   1          Phoenix 02900
                                                   2          Phoenix 02900
                                                   3          Phoenix 02900
                                                   0        Columbia 033000
                                                   1        Columbia 033000
                                                   2        Columbia 033000
...                                                                     ...
                                                   1      Greenville 038000
                                                   2      Greenville 038000
                                                   3      Greenville 038000
                                                   0      Charleston 040000
                                                   1      Charleston 040000
                                                   2      Charleston 040000
                                                   3      Charleston 040000
                                                   0             OKC 041000
                                                   1             OKC 041000
                                                   0     Miami North 052000
                                                   0     Miami South 052099
                                                   1     Miami South 052099
                                                   2     Miami South 052099
                                                   0       Davenport 054000
                                                   1       Davenport 054000
                                                   0    Fayetteville 072000
                                                   1    Fayetteville 072000
                                                   0      Whiteville 076000
                                                   1      Whiteville 076000
                                                   0       Pensacola 081000
                                                   0           Boise 082000
                                                   0        Portland 085000
                                                   1        Portland 085000
                                                   0       Pocatello 089000
                                                   0         Spokane 101000
                                                   0      South Bend 102000
                                                   1      South Bend 102000
                                                   2      South Bend 102000
                                                   3      South Bend 102000
                                                   4      South Bend 102000

                                                      headerrow  \
Copy of Q2-2013 Truck Inventory Update 081913 -... 0         14
                                                   0         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   4         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   4         16
                                                   5         16
                                                   6         16
                                                   7         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   0         16
                                                   1         16
                                                   2         16
...                                                         ...
                                                   1         16
                                                   2         16
                                                   3         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   0         16
                                                   0         16
                                                   1         16
                                                   0         16
                                                   0         16
                                                   0         16
                                                   1         16
                                                   2         16
                                                   3         16
                                                   4         16

                                                                  VIN No.
Copy of Q2-2013 Truck Inventory Update 081913 -... 0    JALB4B1K8V7006781
                                                   0        123456XY12YYY
                                                   0        123456XY12YYY
                                                   1     1FVACWCS97DZ2368
                                                   0        123456XY12YYY
                                                   1                  NaN
                                                   2    1FDKF37G4SNB14709
                                                   3    5PVNE8JV5B4S51883
                                                   0        123456XY12YYY
                                                   1    1FTZF1720YNC03570
                                                   2    1FTZF17253NB95913
                                                   3    JNAMB80HX5AN50150
                                                   4    JNAMB43H14AN75277
                                                   0        123456XY12YYY
                                                   1   JNAMB80H75AN005622
                                                   2    JL6BBG1S07K002378
                                                   3    JL6AAG1S48R006854
                                                   4    JL6AAF1H34K011164
                                                   5  JL6BBG1S96K00754516
                                                   6    JALB4B1AXRT008206
                                                   7    JL6BBG1567K010890
                                                   0        123456XY12YYY
                                                   1   1FVACWDTZ2CHBP3082
                                                   0        123456XY12YYY
                                                   1                  NaN
                                                   2    1FVACWDR8CHBC9891
                                                   3    JL6DGP1E37K015680
                                                   0        123456XY12YYY
                                                   1    jl6aag1s98k006834
                                                   2    1ftrf17w23na12115
...                                                                   ...
                                                   1    JNAMB8OH75AN50221
                                                   2    JL6BBG1516K011248
                                                   3    IFTDF15475NA80178
                                                   0                  NaN
                                                   1    1FTZF1723XNC27926
                                                   2                  NaN
                                                   3    JL6BBG1S46K007615
                                                   0        123456XY12YYY
                                                   1    1FVACWDT0CHBP3081
                                                   0    5PVNE8JV6B4S51889
                                                   0    1FVACWDT4CHBP3083
                                                   1    1FVACWDT6CHBP3084
                                                   2    5PVNE8JV0B4S51886
                                                   0    1FVACWCS07DZ23369
                                                   1    1FVACWCS97DZ23371
                                                   0        123456XY12YYY
                                                   1    JNAMB8OH05AN50271
                                                   0        123456XY12YYY
                                                   1    JL6AAG1S88K001186
                                                   0    J8DB4B16X67005877
                                                   0    JL6BBG1S7AK009528
                                                   0        123456XY12YYY
                                                   1    JL6BBG1S37K001968
                                                   0    JL6AAG1588K010731
                                                   0     J8BB4B1637019788
                                                   0        123456XY12YYY
                                                   1                  NaN
                                                   2                  NaN
                                                   3                  NaN
                                                   4    JL6AAG1S98K010625

[63 rows x 4 columns]

In [184]:
ff =  pd.read_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\Copy of Q2-2013 Truck Inventory Update 081913 - 12.16.13.xls',sheet_name='Houston 001000',skiprows = 16, dtype=str)
ff.loc[:,ff.columns.str.contains('state|vin',regex = True, case = False,na=False)]

            VIN No.
0     123456XY12YYY
1  1FVACWCS97DZ2368

In [252]:
FileName = glob.glob('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\*.*')[0:1]
display(FileName)
Dict = {}
for skiprows in [0,10]:
    print(skiprows)
    for i,file in enumerate(FileName):
        DF = pd.read_excel(file,sheet_name=None,skiprows = skiprows, dtype=str)
        for sheet in DF:
            if file.split('\\')[-1]  not in Dict:
                if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = df
            elif sheet not in Dict[file.split('\\')[-1]].Sheet:
                 if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
for a in Dict:
    print(a )
DF = pd.read_excel(file,sheet_name=None,skiprows = skiprows, dtype=str)
display(Dict['01-17-2013 - Mattress Firm - Adhoc #50358.xlsx'].Sheet)
for sheet in DF:
    print(sheet in Dict['01-17-2013 - Mattress Firm - Adhoc #50358.xlsx'].Sheet.values)

['C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\01-17-2013 - Mattress Firm - Adhoc #50358.xlsx']

0
10
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx

0     Output
1     Output
2     Output
3     Output
4     Output
5     Output
6     Output
7     Output
8     Output
9     Output
10    Output
11    Output
0     Output
1     Output
Name: Sheet, dtype: object

False
True

In [253]:
FileName = glob.glob('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\*.*')
display(len(FileName))
Dict = {}
for skiprows in range(25):
    print(skiprows)
    for i,file in enumerate(FileName):
        DF = pd.read_excel(file,sheet_name=None,skiprows = skiprows, dtype=str)
        for sheet in DF:
            if file.split('\\')[-1]  not in Dict:
                if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = df
            elif sheet not in Dict[file.split('\\')[-1]].Sheet.values:
                 if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
                
                
                

result = pd.concat(Dict,sort=False)
result
result.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\result_skiprow25.xlsx')

44

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\result_skiprow25.xlsx'

## Test! End

## Skip row Features

In [256]:
FileName = glob.glob('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Source\\*.*')
display(len(FileName))
Dict = {}
for skiprows in range(25):
    print(skiprows)
    for i,file in enumerate(FileName):
        DF = pd.read_excel(file,sheet_name=None,skiprows = skiprows, dtype=str)
        for sheet in DF:
            if file.split('\\')[-1]  not in Dict:
                if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = df
            elif sheet not in Dict[file.split('\\')[-1]].Sheet.values:
                 if len(DF[sheet]) > 0:
                    if DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False).sum() > 0:
                        df = DF[sheet].loc[:,DF[sheet].columns.str.contains('state|vin',regex = True, case = False,na=False)]
                        df.insert(0,'FileName',file.split('\\')[-1])
                        df.insert(1,'Sheet' ,sheet)
                        df.insert(2,'headerrow', skiprows)
                        df.insert(3,'number of record',len(DF[sheet]))
                        Dict[file.split('\\')[-1]] = pd.concat([Dict[file.split('\\')[-1]],df],sort=False)
                
                
                

result = pd.concat(Dict,sort=False)
result
result.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\result_skiprow25.xlsx')

44

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [230]:
result

                                                                                         FileName  \
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx 0   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               1   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               2   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               3   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               4   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               5   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               6   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               7   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               8   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               9   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               10  01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               11  01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               0   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               1   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               2   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               0   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               1   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               0   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               1   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               2   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               3   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               4   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               5   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               6   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               7   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               8   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               9   01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               10  01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               11  01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
                                               12  01-17-2013 - Mattress Firm - Adhoc #50358.xlsx
...                                                                                           ...
Vehicle Inventory Spreadsheet.xls              16               Vehicle Inventory Spreadsheet.xls
                                               17               Vehicle Inventory Spreadsheet.xls
                                               18               Vehicle Inventory Spreadsheet.xls
                                               19               Vehicle Inventory Spreadsheet.xls
                                               20               Vehicle Inventory Spreadsheet.xls
                                               21               Vehicle Inventory Spreadsheet.xls
                                               22               Vehicle Inventory Spreadsheet.xls
Vehicles Inventory Spreadsheet.xls             0               Vehicles Inventory Spreadsheet.xls
                                               1               Vehicles Inventory Spreadsheet.xls
                                               2               Vehicles Inventory Spreadsheet.xls
                                               3               Vehicles Inventory Spreadsheet.xls
                                               4               Vehicles Inventory Spreadsheet.xls
                                               5               Vehicles Inventory Spreadsheet.xls
                                               6               Vehicles Inventory Spreadsheet.xls
                                               7               Vehicles Inventory Spreadsheet.xls
                                               8               Vehicles Inventory Spreadsheet.xls
                                               9               Vehicles Inventory Spreadsheet.xls
                                               10              Vehicles Inventory Spreadsheet.xls
                                               11              Vehicles Inventory Spreadsheet.xls
                                               12              Vehicles Inventory Spreadsheet.xls
                                               13              Vehicles Inventory Spreadsheet.xls
                                               14              Vehicles Inventory Spreadsheet.xls
                                               15              Vehicles Inventory Spreadsheet.xls
                                               16              Vehicles Inventory Spreadsheet.xls
                                               17              Vehicles Inventory Spreadsheet.xls
                                               18              Vehicles Inventory Spreadsheet.xls
                                               19              Vehicles Inventory Spreadsheet.xls
                                               20              Vehicles Inventory Spreadsheet.xls
                                               21              Vehicles Inventory Spreadsheet.xls
                                               22              Vehicles Inventory Spreadsheet.xls

                                                          Sheet  headerrow  \
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx 0         Output          0
                                               1         Output          0
                                               2         Output          0
                                               3         Output          0
                                               4         Output          0
                                               5         Output          0
                                               6         Output          0
                                               7         Output          0
                                               8         Output          0
                                               9         Output          0
                                               10        Output          0
                                               11        Output          0
                                               0         Output          9
                                               1         Output          9
                                               2         Output          9
                                               0         Output         10
                                               1         Output         10
                                               0             CC         14
                                               1             CC         14
                                               2             CC         14
                                               3             CC         14
                                               4             CC         14
                                               5             CC         14
                                               6             CC         14
                                               7             CC         14
                                               8             CC         14
                                               9             CC         14
                                               10            CC         14
                                               11            CC         14
                                               12            CC         14
...                                                         ...        ...
Vehicle Inventory Spreadsheet.xls              16  Summary Page          2
                                               17  Summary Page          2
                                               18  Summary Page          2
                                               19  Summary Page          2
                                               20  Summary Page          2
                                               21  Summary Page          2
                                               22  Summary Page          2
Vehicles Inventory Spreadsheet.xls             0   Summary Page          2
                                               1   Summary Page          2
                                               2   Summary Page          2
                                               3   Summary Page          2
                                               4   Summary Page          2
                                               5   Summary Page          2
                                               6   Summary Page          2
                                               7   Summary Page          2
                                               8   Summary Page          2
                                               9   Summary Page          2
                                               10  Summary Page          2
                                               11  Summary Page          2
                                               12  Summary Page          2
                                               13  Summary Page          2
                                               14  Summary Page          2
                                               15  Summary Page          2
                                               16  Summary Page          2
                                               17  Summary Page          2
                                               18  Summary Page          2
                                               19  Summary Page          2
                                               20  Summary Page          2
                                               21  Summary Page          2
                                               22  Summary Page          2

                                                   number of record  \
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx 0                 12
                                               1                 12
                                               2                 12
                                               3                 12
                                               4                 12
                                               5                 12
                                               6                 12
                                               7                 12
                                               8                 12
                                               9                 12
                                               10                12
                                               11                12
                                               0                  3
                                               1                  3
                                               2                  3
                                               0                  2
                                               1                  2
                                               0                 13
                                               1                 13
                                               2                 13
                                               3                 13
                                               4                 13
                                               5                 13
                                               6                 13
                                               7                 13
                                               8                 13
                                               9                 13
                                               10                13
                                               11                13
                                               12                13
...                                                             ...
Vehicle Inventory Spreadsheet.xls              16                23
                                               17                23
                                               18                23
                                               19                23
                                               20                23
                                               21                23
                                               22                23
Vehicles Inventory Spreadsheet.xls             0                 23
                                               1                 23
                                               2                 23
                                               3                 23
                                               4                 23
                                               5                 23
                                               6                 23
                                               7                 23
                                               8                 23
                                               9                 23
                                               10                23
                                               11                23
                                               12                23
                                               13                23
                                               14                23
                                               15                23
                                               16                23
                                               17                23
                                               18                23
                                               19                23
                                               20                23
                                               21                23
                                               22                23

                                                                        VIN #  \
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx 0            1FVACWCS77DZ23370
                                               1            1FVACWDT9CHBP3080
                                               2            1FVACWDT0CHBP3081
                                               3            1FVACWDT2CHBP3082
                                               4            1FVACWCS97DZ23368
                                               5            1FVACWDT4CHBP3083
                                               6            1FVACWDT6CHBP3084
                                               7
                                               8            1FVACWCS07DZ23369
                                               9            1FVACWCS97DZ23371
                                               10           1FVACWDT8CHBP3085
                                               11           1HTMMAAL96H319768
                                               0                          NaN
                                               1                          NaN
                                               2                          NaN
                                               0                          NaN
                                               1                          NaN
                                               0        Usage (Power /Reefer)
                                               1     Original In-Service Date
                                               2     Contract Expiration Date
                                               3                 Schedule A #
                                               4              Schedule A Date
                                               5                   Lease Type
                                               6                   Lease Date
                                               7           Current Fixed Rate
                                               8         Current Mileage Rate
                                               9         Last Mileage Reading
                                               10             License Plate #
                                               11         License Plate State
                                               12  Vehicle Mfr's Gross Weight
...                                                                       ...
Vehicle Inventory Spreadsheet.xls              16                         NaN
                                               17                         NaN
                                               18                         NaN
                                               19                         NaN
                                               20                         NaN
                                               21                         NaN
                                               22                         NaN
Vehicles Inventory Spreadsheet.xls             0                          NaN
                                               1                          NaN
                                               2                          NaN
                                               3                          NaN
                                               4                          NaN
                                               5                          NaN
                                               6                          NaN
                                               7                          NaN
                                               8                          NaN
                                               9                          NaN
                                               10                         NaN
                                               11                         NaN
                                               12                         NaN
                                               13                         NaN
                                               14                         NaN
                                               15                         NaN
                                               16                         NaN
                                               17                         NaN
                                               18                         NaN
                                               19                         NaN
                                               20                         NaN
                                               21                         NaN
                                               22                         NaN

                                                  License Plate State  \
01-17-2013 - Mattress Firm - Adhoc #50358.xlsx 0                   FL
                                               1                   TX

In [259]:
test = result[['FileName','Sheet','headerrow','number of record']].drop_duplicates()
QC_result = pd.merge(QC, test, how='left',left_on = ['File Name','SheetName'], right_on = ['FileName','Sheet'], suffixes=('_left', '_right'))
QC_result.insert(0,'Index', QC_result['File Name'])
QC_result

,Index,File Name,Index of Sheet,SheetName,Firstrow Contains Information,FileName,Sheet,headerrow,number of record
0,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,1,CC,No,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,CC,14.0,13.0
1,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,2,Output,Yes,01-17-2013 - Mattress Firm - Adhoc #50358.xlsx,Output,0.0,12.0
2,01-17-2013 - Mattress Firm - Adhoc.xlsx,01-17-2013 - Mattress Firm - Adhoc.xlsx,1,CC,No,01-17-2013 - Mattress Firm - Adhoc.xlsx,CC,14.0,13.0
3,01-17-2013 - Mattress Firm - Adhoc.xlsx,01-17-2013 - Mattress Firm - Adhoc.xlsx,2,Output,Yes,01-17-2013 - Mattress Firm - Adhoc.xlsx,Output,0.0,12.0
4,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,1,PPEC,No,NaN,NaN,NaN,NaN
5,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2,PY,No,NaN,NaN,NaN,NaN
6,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,3,Sheet1,No,NaN,NaN,NaN,NaN
7,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,4,1 - Capital Lease RF,No,NaN,NaN,NaN,NaN
8,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,2.4.29 2.4.10_Debt Schedules_MLI (No APC Data)...,5,2 - Note Payable RF,No,NaN,NaN,NaN,NaN
9,2014-15 Auto Schedule.xlsx,2014-15 Auto Schedule.xlsx,1,Update Form,No,2014-15 Auto Schedule.xlsx,Update Form,16.0,1.0
10,2014-15 Auto Schedule.xlsx,2014-15 Auto Schedule.xlsx,2,Summary 08.01.14,No,2014-15 Auto Schedule.xlsx,Summary 08.01.14,2.0,160.0
11,2014-15 Auto Schedule.xlsx,2014-15 Auto Schedule.xlsx,3,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
12,2014Q2 Truck Inventory Update 2014-07-28.xlsx,2014Q2 Truck Inventory Update 2014-07-28.xlsx,1,Update Form,No,2014Q2 Truck Inventory Update 2014-07-28.xlsx,Update Form,16.0,1.0
13,2014Q2 Truck Inventory Update 2014-07-28.xlsx,2014Q2 Truck Inventory Update 2014-07-28.xlsx,2,Summary 08.01.14,No,2014Q2 Truck Inventory Update 2014-07-28.xlsx,Summary 08.01.14,2.0,160.0
14,2014Q2 Truck Inventory Update 2014-07-28.xlsx,2014Q2 Truck Inventory Update 2014-07-28.xlsx,3,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
15,Auto Schedule as of 10.10.12.xls,Auto Schedule as of 10.10.12.xls,1,Auto Schedule 11-12,Yes,Auto Schedule as of 10.10.12.xls,Auto Schedule 11-12,0.0,43.0
16,Auto Schedule as of 10.10.12.xls,Auto Schedule as of 10.10.12.xls,2,Sheet2,Yes,Auto Schedule as of 10.10.12.xls,Sheet2,0.0,42.0
17,Auto Schedule as of 11.5.13. sent for renewal.xls,Auto Schedule as of 11.5.13. sent for renewal.xls,1,Update Form,No,Auto Schedule as of 11.5.13. sent for renewal.xls,Update Form,16.0,1.0
18,Auto Schedule as of 11.5.13. sent for renewal.xls,Auto Schedule as of 11.5.13. sent for renewal.xls,2,P7 Update,Yes,Auto Schedule as of 11.5.13. sent for renewal.xls,P7 Update,0.0,36.0
19,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,1,Sheet1,No,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,Sheet1,2.0,13.0
20,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
21,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,CHECKLIST FOR VEHICLE TRANSFERS.xlsx,3,Sheet3,Empty Sheet,NaN,NaN,NaN,NaN
22,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,1,Sheet1,No,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,Sheet1,2.0,13.0
23,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
24,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,CHECKLIST FOR VEHICLE TRANSFERS_update 11.05.1...,3,Sheet3,Empty Sheet,NaN,NaN,NaN,NaN
25,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,1,Sheet1,No,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,Sheet1,2.0,13.0
26,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
27,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,CHECKLIST FOR VEHICLE TRANSFERS_update.xlsx,3,Sheet3,Empty Sheet,NaN,NaN,NaN,NaN
28,Chicago Truck Information.xlsx,Chicago Truck Information.xlsx,1,Sheet1,No,Chicago Truck Information.xlsx,Sheet1,5.0,7.0
29,Chicago Truck Information.xlsx,Chicago Truck Information.xlsx,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
401,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,11,Columbia 033000,No,Q2-2013 Trucks.xls,Columbia 033000,16.0,3.0
402,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,12,Columbus 037000,No,Q2-2013 Trucks.xls,Columbus 037000,16.0,2.0
403,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,13,Greenville 038000,No,Q2-2013 Trucks.xls,Greenville 038000,16.0,4.0
404,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,14,Charleston 040000,No,Q2-2013 Trucks.xls,Charleston 040000,16.0,4.0
405,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,15,OKC 041000,No,Q2-2013 Trucks.xls,OKC 041000,16.0,2.0
406,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,16,Miami North 052000,No,Q2-2013 Trucks.xls,Miami North 052000,16.0,1.0
407,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,17,Miami South 052099,No,Q2-2013 Trucks.xls,Miami South 052099,16.0,3.0
408,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,18,Davenport 054000,No,Q2-2013 Trucks.xls,Davenport 054000,16.0,2.0
409,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,19,Fayetteville 072000,No,Q2-2013 Trucks.xls,Fayetteville 072000,16.0,2.0
410,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,20,Whiteville 076000,No,Q2-2013 Trucks.xls,Whiteville 076000,16.0,2.0
411,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,21,Pensacola 081000,No,Q2-2013 Trucks.xls,Pensacola 081000,16.0,1.0
412,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,22,Boise 082000,No,Q2-2013 Trucks.xls,Boise 082000,16.0,1.0
413,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,23,Portland 085000,No,Q2-2013 Trucks.xls,Portland 085000,16.0,2.0
414,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,24,Pocatello 089000,No,Q2-2013 Trucks.xls,Pocatello 089000,16.0,1.0
415,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,25,Spokane 101000,No,Q2-2013 Trucks.xls,Spokane 101000,16.0,1.0
416,Q2-2013 Trucks.xls,Q2-2013 Trucks.xls,26,South Bend 102000,No,Q2-2013 Trucks.xls,South Bend 102000,16.0,5.0
417,VH Report for Kamal - F12 P11.xlsx,VH Report for Kamal - F12 P11.xlsx,1,Sheet1,No,NaN,NaN,NaN,NaN
418,Vehicle (073000) Details.xlsx,Vehicle (073000) Details.xlsx,1,Sheet1,No,NaN,NaN,NaN,NaN
419,Vehicle (073000) Details.xlsx,Vehicle (073000) Details.xlsx,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
420,Vehicle (073000) Details.xlsx,Vehicle (073000) Details.xlsx,3,Sheet3,Empty Sheet,NaN,NaN,NaN,NaN
421,Vehicle (073000).xlsx,Vehicle (073000).xlsx,1,Sheet1,No,NaN,NaN,NaN,NaN
422,Vehicle (073000).xlsx,Vehicle (073000).xlsx,2,Sheet2,Empty Sheet,NaN,NaN,NaN,NaN
423,Vehicle (073000).xlsx,Vehicle (073000).xlsx,3,Sheet3,Empty Sheet,NaN,NaN,NaN,NaN
424,Vehicle Inventory Spreadsheet 08 19 13.xls,Vehicle Inventory Spreadsheet 08 19 13.xls,1,Summary Page,No,Vehicle Inventory Spreadsheet 08 19 13.xls,Summary Page,2.0,21.0
425,Vehicle Inventory Spreadsheet 08 19 13.xls,Vehicle Inventory Spreadsheet 08 19 13.xls,2,Sheet1,No,NaN,NaN,NaN,NaN
426,Vehicle Inventory Spreadsheet 08 19 13.xls,Vehicle Inventory Spreadsheet 08 19 13.xls,3,Addtl,No,Vehicle Inventory Spreadsheet 08 19 13.xls,Addtl,2.0,3.0
427,Vehicle Inventory Spreadsheet.xls,Vehicle Inventory Spreadsheet.xls,1,Summary Page,No,Vehicle Inventory Spreadsheet.xls,Summary Page,2.0,23.0
428,Vehicle Inventory Spreadsheet.xls,Vehicle Inventory Spreadsheet.xls,2,Sheet1,No,NaN,NaN,NaN,NaN
429,Vehicles Inventory Spreadsheet.xls,Vehicles Inventory Spreadsheet.xls,1,Summary Page,No,Vehicles Inventory Spreadsheet.xls,Summary Page,2.0,23.0
430,Vehicles Inventory Spreadsheet.xls,Vehicles Inventory Spreadsheet.xls,2,Sheet1,No,NaN,NaN,NaN,NaN

In [260]:
test = result[['FileName','Sheet','headerrow','number of record']].drop_duplicates()
QC = pd.read_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\QC_table_New.xlsx',index = False, usecols = [2,3,4,5])
QC_result = pd.merge(QC, test, how='left',left_on = ['File Name','SheetName'], right_on = ['FileName','Sheet'])
QC_result.insert(0,'Index', QC_result['File Name'])
QC_result.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\QC_result.xlsx',index = False)

In [262]:
pd.read_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\QC_result.xlsx',index_col = [0,2]).to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\Mattress Firm\\Output\\QC_result_formatted.xlsx')