In [1]:
import requests
import json
import re
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
source_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\Henkels & McCoy Truck Data\Source Data\\'
output_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\Henkels & McCoy Truck Data\Output\\'
fileName = r'Henkels & McCoy combined active_sold files.xlsx'

In [15]:
df = pd.read_excel(source_dir + fileName,sheet_name='Sheet1')
df

,File,EQUIP #,CLASS,MODEL YEAR,MAKE,MODEL,SERIAL NUMBER,IN SERVICE DATE,Sold Date,ASSET TYPE
0,SOLD,26346,43,2013,INTERNATIONAL,7300,1FVDCSDT6DHBW2722,2012-05-30,2013-07-15,VEHICLE
1,SOLD,26384,43,2013,INTERNATIONAL,7300,1HJTWBAAN7DJ203670,2016-10-08,NaT,VEHICLE
2,SOLD,26949,69,2012,INTERNATIONAL,NaN,1HSDJSJR4CH673376,2011-08-12,2012-09-06,VEHICLE
3,SOLD,26993,69,2013,INTERNATIONAL,PROSTAR,1HSDJSJR5DH312014,2015-07-23,NaT,VEHICLE
4,SOLD,26971,69,2012,INTERNATIONAL,NaN,1HSDJSJR6CH673542,2014-09-09,NaT,VEHICLE
5,SOLD,26963,69,2014,INTERNATIONAL,NaN,1HSDJSNR5EH775234,2013-09-10,NaT,VEHICLE
6,ACTIVE,203521,68,2013,INTERNATIONAL,NaN,1HSHXSJR4DJ602348,2019-04-19,NaT,VEHICLE
7,SOLD,26097,61,2012,INTERNATIONAL,NaN,1HTGTSJT1CJ597333,2012-12-29,NaT,VEHICLE
8,SOLD,26838,61,2012,INTERNATIONAL,7600,1HTGTSJT5CJ445295,2013-09-12,NaT,VEHICLE
9,SOLD,26717,61,2012,INTERNATIONAL,NaN,1HTGTSJTXCJ597332,2013-01-13,NaT,VEHICLE
10,SOLD,24146,41,2012,INTERNATIONAL,NaN,1HTJSSKK0CJ390107,2012-10-29,NaT,VEHICLE
11,SOLD,200616,41,2012,INTERNATIONAL,4300,1HTJSSKK2CJ390108,2017-10-20,NaT,VEHICLE
12,SOLD,23779,39,2012,INTERNATIONAL,TERRA STAR,1HTJSSKK4CJ609246,2014-11-07,NaT,VEHICLE
13,ACTIVE,5661,31,2011,INTERNATIONAL,4300,1HTJTSKM2BH388198,2011-04-11,NaT,VEHICLE
14,ACTIVE,55737,57,2012,INTERNATIONAL,4300,1HTJTSKM9CH609426,2011-08-25,NaT,VEHICLE
15,ACTIVE,66496,65,2013,INTERNATIONAL,4300,1HTJTSKN2DH466863,2013-05-28,NaT,VEHICLE
16,ACTIVE,66494,65,2013,INTERNATIONAL,4300,1HTJTSKN3DH419339,2013-02-22,NaT,VEHICLE
17,ACTIVE,66497,65,2013,INTERNATIONAL,4300,1HTJTSKN4DH466864,2013-05-28,NaT,VEHICLE
18,ACTIVE,66498,65,2013,INTERNATIONAL,4300,1HTJTSKN6DH466865,2013-03-18,NaT,VEHICLE
19,ACTIVE,66499,65,2013,INTERNATIONAL,4300,1HTJTSKN8DH466866,2013-03-20,NaT,VEHICLE
20,ACTIVE,66495,65,2013,INTERNATIONAL,4300,1HTJTSKNXDH419340,2013-04-29,NaT,VEHICLE
21,SOLD,200390,54,2012,INTERNATIONAL,4300,1HTMMAAN6CJ444877,2017-09-12,NaT,VEHICLE
22,ACTIVE,24566,46,2013,INTERNATIONAL,NaN,1HTMMAAN6DH297453,2012-09-27,NaT,VEHICLE
23,SOLD,20657,54,2012,INTERNATIONAL,4300,1HTMMAANXCH691990,2015-02-11,NaT,VEHICLE
24,SOLD,200234,65,2014,INTERNATIONAL,4300,1HTMMMMN8FH667527,2017-08-14,NaT,VEHICLE
25,ACTIVE,203689,39,2012,INTERNATIONAL,4400,1HTMSAZR2CH650539,2019-06-10,NaT,VEHICLE
26,SOLD,24883,49,2013,INTERNATIONAL,7300,1HTWBAAN0DJ093447,2016-07-29,NaT,VEHICLE
27,SOLD,26354,43,2013,INTERNATIONAL,NaN,1HTWBAAN0DJ235098,2012-11-06,2013-09-11,VEHICLE
28,SOLD,20600,56,2012,INTERNATIONAL,7300,1HTWBAAN1CJ089213,2013-12-31,NaT,VEHICLE
29,SOLD,203328,47,2013,INTERNATIONAL,7300,1HTWBAAN1DJ093182,2019-03-12,NaT,VEHICLE
...,...,...,...,...,...,...,...,...,...,...
220,SOLD,20575,54,2014,INTERNATIONAL,4300,3HAMMAAN8EL756073,2013-08-30,NaT,VEHICLE
221,SOLD,24584,46,2014,INTERNATIONAL,4300,3HAMMAAN8EL796623,2013-11-05,NaT,VEHICLE
222,SOLD,25507,58,2014,INTERNATIONAL,4300,3HAMMAAN8FL124983,2015-03-05,NaT,VEHICLE
223,SOLD,24882,46,2012,INTERNATIONAL,4300,3HAMMAAN9CL439299,2016-03-28,NaT,VEHICLE
224,ACTIVE,55349,53,2013,INTERNATIONAL,4300,3HAMMAAN9DL145807,2012-07-09,NaT,VEHICLE
225,ACTIVE,24590,46,2014,INTERNATIONAL,4300,3HAMMAAN9EL796615,2013-11-18,NaT,VEHICLE
226,SOLD,20590,54,2014,INTERNATIONAL,4300,3HAMMAANXEL756074,2013-09-30,NaT,VEHICLE
227,SOLD,20567,54,2014,INTERNATIONAL,7300,3HAMMAANXEL762568,2013-07-08,NaT,VEHICLE
228,ACTIVE,24594,46,2014,INTERNATIONAL,4300,3HAMMAANXEL776177,2014-01-06,NaT,VEHICLE
229,ACTIVE,20599,54,2014,INTERNATIONAL,4300,3HAMMAANXEL789060,2014-01-06,NaT,VEHICLE
230,SOLD,202041,65,2014,INTERNATIONAL,4300,3HAMMMMN3FL678171,2018-04-04,NaT,VEHICLE
231,SOLD,201497,65,2014,INTERNATIONAL,7400,3HAWGAAT5FL705078,2018-03-12,NaT,VEHICLE
232,SOLD,202603,50,2014,INTERNATIONAL,7400,3HAWJAAT5FL662122,2018-08-08,NaT,VEHICLE
233,SOLD,26969,69,2011,INTERNATIONAL,NaN,3HSCUAPRXBN186367,2014-08-20,NaT,VEHICLE
234,SOLD,20628,54,2012,INTERNATIONAL,7300,DUP1.1HTWBAAN1CJ089213,2014-08-19,NaT,VEHICLE
235,SOLD,25424,48,2011,INTERNATIONAL,7400,DUP1.1HTWGAAT7BJ288409,2015-01-26,NaT,VEHICLE
236,SOLD,26651,66,2012,INTERNATIONAL,7400,DUP1.1HTWGAZTXCJ680838,2012-05-29,2012-09-06,VEHICLE
237,SOLD,20555,62,2012,INTERNATIONAL,NaN,DUP1.1HTWJAAT1CJ462834,2012-10-08,NaT,VEHICLE
238,ACTIVE,202295,49,2012,INTERNATIONAL,7400,DUP1.1HTWJAAT2CJ439241,2018-06-04,NaT,VEHICLE
239,SOLD,25467,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT2DJ257394,2016-04-05,NaT,VEHICLE
240,SOLD,25462,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT6DJ166810,2016-03-02,NaT,VEHICLE
241,SOLD,25430,49,2012,INTERNATIONAL,7400,DUP1.1HTWJAAT7CJ434570,2015-03-13,NaT,VEHICLE
242,ACTIVE,25392,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT7DJ166802,2014-03-12,NaT,VEHICLE
243,SOLD,200320,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT8DJ257383,2017-08-21,NaT,VEHICLE
244,ACTIVE,20699,62,2014,INTERNATIONAL,7400,DUP1.1HTWJAATXEH775178,2015-11-03,NaT,VEHICLE
245,ACTIVE,66715,69,2012,INTERNATIONAL,7500,DUP1.1HTWWAZT0CJ539683,2014-01-15,NaT,VEHICLE
246,SOLD,C1073,53,2012,INTERNATIONAL,4300,DUP1.3HAJTSKM8CL410314,2017-01-02,NaT,VEHICLE
247,SOLD,25613,56,2012,INTERNATIONAL,7300,DUP2.1HTWBAAN1CJ089213,2015-06-25,NaT,VEHICLE
248,ACTIVE,25482,49,2011,INTERNATIONAL,7400,DUP2.1HTWGAAT7BJ288409,2016-06-29,NaT,VEHICLE
249,ACTIVE,200901,60,2013,INTERNATIONAL,7600,IHTGSSJT9DJ235142,2017-12-11,NaT,VEHICLE

In [6]:
df.iloc[:,6]

0           1FVDCSDT6DHBW2722
1          1HJTWBAAN7DJ203670
2           1HSDJSJR4CH673376
3           1HSDJSJR5DH312014
4           1HSDJSJR6CH673542
5           1HSDJSNR5EH775234
6           1HSHXSJR4DJ602348
7           1HTGTSJT1CJ597333
8           1HTGTSJT5CJ445295
9           1HTGTSJTXCJ597332
10          1HTJSSKK0CJ390107
11          1HTJSSKK2CJ390108
12          1HTJSSKK4CJ609246
13          1HTJTSKM2BH388198
14          1HTJTSKM9CH609426
15          1HTJTSKN2DH466863
16          1HTJTSKN3DH419339
17          1HTJTSKN4DH466864
18          1HTJTSKN6DH466865
19          1HTJTSKN8DH466866
20          1HTJTSKNXDH419340
21          1HTMMAAN6CJ444877
22          1HTMMAAN6DH297453
23          1HTMMAANXCH691990
24          1HTMMMMN8FH667527
25          1HTMSAZR2CH650539
26          1HTWBAAN0DJ093447
27          1HTWBAAN0DJ235098
28          1HTWBAAN1CJ089213
29          1HTWBAAN1DJ093182
                ...
220         3HAMMAAN8EL756073
221         3HAMMAAN8EL796623
222         3HAMMAAN8FL124983
223         3HAMMAAN9CL439299
224         3HAMMAAN9DL145807
225         3HAMMAAN9EL796615
226         3HAMMAANXEL756074
227         3HAMMAANXEL762568
228         3HAMMAANXEL776177
229         3HAMMAANXEL789060
230         3HAMMMMN3FL678171
231         3HAWGAAT5FL705078
232         3HAWJAAT5FL662122
233         3HSCUAPRXBN186367
234    DUP1.1HTWBAAN1CJ089213
235    DUP1.1HTWGAAT7BJ288409
236    DUP1.1HTWGAZTXCJ680838
237    DUP1.1HTWJAAT1CJ462834
238    DUP1.1HTWJAAT2CJ439241
239    DUP1.1HTWJAAT2DJ257394
240    DUP1.1HTWJAAT6DJ166810
241    DUP1.1HTWJAAT7CJ434570
242    DUP1.1HTWJAAT7DJ166802
243    DUP1.1HTWJAAT8DJ257383
244    DUP1.1HTWJAATXEH775178
245    DUP1.1HTWWAZT0CJ539683
246    DUP1.3HAJTSKM8CL410314
247    DUP2.1HTWBAAN1CJ089213
248    DUP2.1HTWGAAT7BJ288409
249         IHTGSSJT9DJ235142
Name: SERIAL NUMBER, Length: 250, dtype: object

In [8]:
responses = pd.Series(None, index=range(len(df)))
responses

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
231   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
248   NaN
249   NaN
Length: 250, dtype: float64

In [9]:
for i in range(len(df)):
    print(i)
    VIN = df.iloc[i,6]
    r = requests.post('https://secure.maxxforce11and13.com/en/VinLookup',{'VinNumber':VIN})
    soup = BeautifulSoup(r.text,'lxml')
    target = soup.find('form').find('div',class_ = 'alert alert-danger')
    if target:
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
    else:
        target = soup.find('form').find('div',class_ = 'alert alert-success')
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
responses

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249

0      The VIN you entered is not included in the Set...
1      The VIN you entered is not included in the Set...
2      The VIN you entered is included in the Settlem...
3      The VIN you entered is included in the Settlem...
4      The VIN you entered is included in the Settlem...
5      The VIN you entered is not included in the Set...
6      The VIN you entered is included in the Settlem...
7      The VIN you entered is included in the Settlem...
8      The VIN you entered is included in the Settlem...
9      The VIN you entered is included in the Settlem...
10     The VIN you entered is not included in the Set...
11     The VIN you entered is not included in the Set...
12     The VIN you entered is not included in the Set...
13     The VIN you entered is not included in the Set...
14     The VIN you entered is not included in the Set...
15     The VIN you entered is not included in the Set...
16     The VIN you entered is not included in the Set...
17     The VIN you entered is not included in the Set...
18     The VIN you entered is not included in the Set...
19     The VIN you entered is not included in the Set...
20     The VIN you entered is not included in the Set...
21     The VIN you entered is not included in the Set...
22     The VIN you entered is not included in the Set...
23     The VIN you entered is not included in the Set...
24     The VIN you entered is not included in the Set...
25     The VIN you entered is not included in the Set...
26     The VIN you entered is not included in the Set...
27     The VIN you entered is not included in the Set...
28     The VIN you entered is not included in the Set...
29     The VIN you entered is not included in the Set...
                             ...
220    The VIN you entered is not included in the Set...
221    The VIN you entered is not included in the Set...
222    The VIN you entered is not included in the Set...
223    The VIN you entered is not included in the Set...
224    The VIN you entered is not included in the Set...
225    The VIN you entered is not included in the Set...
226    The VIN you entered is not included in the Set...
227    The VIN you entered is not included in the Set...
228    The VIN you entered is not included in the Set...
229    The VIN you entered is not included in the Set...
230    The VIN you entered is not included in the Set...
231    The VIN you entered is not included in the Set...
232    The VIN you entered is not included in the Set...
233    The VIN you entered is not included in the Set...
234    The VIN you entered is not included in the Set...
235    The VIN you entered is not included in the Set...
236    The VIN you entered is not included in the Set...
237    The VIN you entered is not included in the Set...
238    The VIN you entered is not included in the Set...
239    The VIN you entered is not included in the Set...
240    The VIN you entered is not included in the Set...
241    The VIN you entered is not included in the Set...
242    The VIN you entered is not included in the Set...
243    The VIN you entered is not included in the Set...
244    The VIN you entered is not included in the Set...
245    The VIN you entered is not included in the Set...
246    The VIN you entered is not included in the Set...
247    The VIN you entered is not included in the Set...
248    The VIN you entered is not included in the Set...
249    The VIN you entered is not included in the Set...
Length: 250, dtype: object

In [20]:
df['Response'] = responses.values

In [11]:
df

,File,EQUIP #,CLASS,MODEL YEAR,MAKE,MODEL,SERIAL NUMBER,IN SERVICE DATE,Sold Date,ASSET TYPE,Response
0,SOLD,26346,43,2013,INTERNATIONAL,7300,1FVDCSDT6DHBW2722,2012-05-30,2013-07-15,VEHICLE,The VIN you entered is not included in the Set...
1,SOLD,26384,43,2013,INTERNATIONAL,7300,1HJTWBAAN7DJ203670,2016-10-08,NaT,VEHICLE,The VIN you entered is not included in the Set...
2,SOLD,26949,69,2012,INTERNATIONAL,NaN,1HSDJSJR4CH673376,2011-08-12,2012-09-06,VEHICLE,The VIN you entered is included in the Settlem...
3,SOLD,26993,69,2013,INTERNATIONAL,PROSTAR,1HSDJSJR5DH312014,2015-07-23,NaT,VEHICLE,The VIN you entered is included in the Settlem...
4,SOLD,26971,69,2012,INTERNATIONAL,NaN,1HSDJSJR6CH673542,2014-09-09,NaT,VEHICLE,The VIN you entered is included in the Settlem...
5,SOLD,26963,69,2014,INTERNATIONAL,NaN,1HSDJSNR5EH775234,2013-09-10,NaT,VEHICLE,The VIN you entered is not included in the Set...
6,ACTIVE,203521,68,2013,INTERNATIONAL,NaN,1HSHXSJR4DJ602348,2019-04-19,NaT,VEHICLE,The VIN you entered is included in the Settlem...
7,SOLD,26097,61,2012,INTERNATIONAL,NaN,1HTGTSJT1CJ597333,2012-12-29,NaT,VEHICLE,The VIN you entered is included in the Settlem...
8,SOLD,26838,61,2012,INTERNATIONAL,7600,1HTGTSJT5CJ445295,2013-09-12,NaT,VEHICLE,The VIN you entered is included in the Settlem...
9,SOLD,26717,61,2012,INTERNATIONAL,NaN,1HTGTSJTXCJ597332,2013-01-13,NaT,VEHICLE,The VIN you entered is included in the Settlem...
10,SOLD,24146,41,2012,INTERNATIONAL,NaN,1HTJSSKK0CJ390107,2012-10-29,NaT,VEHICLE,The VIN you entered is not included in the Set...
11,SOLD,200616,41,2012,INTERNATIONAL,4300,1HTJSSKK2CJ390108,2017-10-20,NaT,VEHICLE,The VIN you entered is not included in the Set...
12,SOLD,23779,39,2012,INTERNATIONAL,TERRA STAR,1HTJSSKK4CJ609246,2014-11-07,NaT,VEHICLE,The VIN you entered is not included in the Set...
13,ACTIVE,5661,31,2011,INTERNATIONAL,4300,1HTJTSKM2BH388198,2011-04-11,NaT,VEHICLE,The VIN you entered is not included in the Set...
14,ACTIVE,55737,57,2012,INTERNATIONAL,4300,1HTJTSKM9CH609426,2011-08-25,NaT,VEHICLE,The VIN you entered is not included in the Set...
15,ACTIVE,66496,65,2013,INTERNATIONAL,4300,1HTJTSKN2DH466863,2013-05-28,NaT,VEHICLE,The VIN you entered is not included in the Set...
16,ACTIVE,66494,65,2013,INTERNATIONAL,4300,1HTJTSKN3DH419339,2013-02-22,NaT,VEHICLE,The VIN you entered is not included in the Set...
17,ACTIVE,66497,65,2013,INTERNATIONAL,4300,1HTJTSKN4DH466864,2013-05-28,NaT,VEHICLE,The VIN you entered is not included in the Set...
18,ACTIVE,66498,65,2013,INTERNATIONAL,4300,1HTJTSKN6DH466865,2013-03-18,NaT,VEHICLE,The VIN you entered is not included in the Set...
19,ACTIVE,66499,65,2013,INTERNATIONAL,4300,1HTJTSKN8DH466866,2013-03-20,NaT,VEHICLE,The VIN you entered is not included in the Set...
20,ACTIVE,66495,65,2013,INTERNATIONAL,4300,1HTJTSKNXDH419340,2013-04-29,NaT,VEHICLE,The VIN you entered is not included in the Set...
21,SOLD,200390,54,2012,INTERNATIONAL,4300,1HTMMAAN6CJ444877,2017-09-12,NaT,VEHICLE,The VIN you entered is not included in the Set...
22,ACTIVE,24566,46,2013,INTERNATIONAL,NaN,1HTMMAAN6DH297453,2012-09-27,NaT,VEHICLE,The VIN you entered is not included in the Set...
23,SOLD,20657,54,2012,INTERNATIONAL,4300,1HTMMAANXCH691990,2015-02-11,NaT,VEHICLE,The VIN you entered is not included in the Set...
24,SOLD,200234,65,2014,INTERNATIONAL,4300,1HTMMMMN8FH667527,2017-08-14,NaT,VEHICLE,The VIN you entered is not included in the Set...
25,ACTIVE,203689,39,2012,INTERNATIONAL,4400,1HTMSAZR2CH650539,2019-06-10,NaT,VEHICLE,The VIN you entered is not included in the Set...
26,SOLD,24883,49,2013,INTERNATIONAL,7300,1HTWBAAN0DJ093447,2016-07-29,NaT,VEHICLE,The VIN you entered is not included in the Set...
27,SOLD,26354,43,2013,INTERNATIONAL,NaN,1HTWBAAN0DJ235098,2012-11-06,2013-09-11,VEHICLE,The VIN you entered is not included in the Set...
28,SOLD,20600,56,2012,INTERNATIONAL,7300,1HTWBAAN1CJ089213,2013-12-31,NaT,VEHICLE,The VIN you entered is not included in the Set...
29,SOLD,203328,47,2013,INTERNATIONAL,7300,1HTWBAAN1DJ093182,2019-03-12,NaT,VEHICLE,The VIN you entered is not included in the Set...
...,...,...,...,...,...,...,...,...,...,...,...
220,SOLD,20575,54,2014,INTERNATIONAL,4300,3HAMMAAN8EL756073,2013-08-30,NaT,VEHICLE,The VIN you entered is not included in the Set...
221,SOLD,24584,46,2014,INTERNATIONAL,4300,3HAMMAAN8EL796623,2013-11-05,NaT,VEHICLE,The VIN you entered is not included in the Set...
222,SOLD,25507,58,2014,INTERNATIONAL,4300,3HAMMAAN8FL124983,2015-03-05,NaT,VEHICLE,The VIN you entered is not included in the Set...
223,SOLD,24882,46,2012,INTERNATIONAL,4300,3HAMMAAN9CL439299,2016-03-28,NaT,VEHICLE,The VIN you entered is not included in the Set...
224,ACTIVE,55349,53,2013,INTERNATIONAL,4300,3HAMMAAN9DL145807,2012-07-09,NaT,VEHICLE,The VIN you entered is not included in the Set...
225,ACTIVE,24590,46,2014,INTERNATIONAL,4300,3HAMMAAN9EL796615,2013-11-18,NaT,VEHICLE,The VIN you entered is not included in the Set...
226,SOLD,20590,54,2014,INTERNATIONAL,4300,3HAMMAANXEL756074,2013-09-30,NaT,VEHICLE,The VIN you entered is not included in the Set...
227,SOLD,20567,54,2014,INTERNATIONAL,7300,3HAMMAANXEL762568,2013-07-08,NaT,VEHICLE,The VIN you entered is not included in the Set...
228,ACTIVE,24594,46,2014,INTERNATIONAL,4300,3HAMMAANXEL776177,2014-01-06,NaT,VEHICLE,The VIN you entered is not included in the Set...
229,ACTIVE,20599,54,2014,INTERNATIONAL,4300,3HAMMAANXEL789060,2014-01-06,NaT,VEHICLE,The VIN you entered is not included in the Set...
230,SOLD,202041,65,2014,INTERNATIONAL,4300,3HAMMMMN3FL678171,2018-04-04,NaT,VEHICLE,The VIN you entered is not included in the Set...
231,SOLD,201497,65,2014,INTERNATIONAL,7400,3HAWGAAT5FL705078,2018-03-12,NaT,VEHICLE,The VIN you entered is not included in the Set...
232,SOLD,202603,50,2014,INTERNATIONAL,7400,3HAWJAAT5FL662122,2018-08-08,NaT,VEHICLE,The VIN you entered is not included in the Set...
233,SOLD,26969,69,2011,INTERNATIONAL,NaN,3HSCUAPRXBN186367,2014-08-20,NaT,VEHICLE,The VIN you entered is not included in the Set...
234,SOLD,20628,54,2012,INTERNATIONAL,7300,DUP1.1HTWBAAN1CJ089213,2014-08-19,NaT,VEHICLE,The VIN you entered is not included in the Set...
235,SOLD,25424,48,2011,INTERNATIONAL,7400,DUP1.1HTWGAAT7BJ288409,2015-01-26,NaT,VEHICLE,The VIN you entered is not included in the Set...
236,SOLD,26651,66,2012,INTERNATIONAL,7400,DUP1.1HTWGAZTXCJ680838,2012-05-29,2012-09-06,VEHICLE,The VIN you entered is not included in the Set...
237,SOLD,20555,62,2012,INTERNATIONAL,NaN,DUP1.1HTWJAAT1CJ462834,2012-10-08,NaT,VEHICLE,The VIN you entered is not included in the Set...
238,ACTIVE,202295,49,2012,INTERNATIONAL,7400,DUP1.1HTWJAAT2CJ439241,2018-06-04,NaT,VEHICLE,The VIN you entered is not included in the Set...
239,SOLD,25467,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT2DJ257394,2016-04-05,NaT,VEHICLE,The VIN you entered is not included in the Set...
240,SOLD,25462,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT6DJ166810,2016-03-02,NaT,VEHICLE,The VIN you entered is not included in the Set...
241,SOLD,25430,49,2012,INTERNATIONAL,7400,DUP1.1HTWJAAT7CJ434570,2015-03-13,NaT,VEHICLE,The VIN you entered is not included in the Set...
242,ACTIVE,25392,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT7DJ166802,2014-03-12,NaT,VEHICLE,The VIN you entered is not included in the Set...
243,SOLD,200320,49,2013,INTERNATIONAL,7400,DUP1.1HTWJAAT8DJ257383,2017-08-21,NaT,VEHICLE,The VIN you entered is not included in the Set...
244,ACTIVE,20699,62,2014,INTERNATIONAL,7400,DUP1.1HTWJAATXEH775178,2015-11-03,NaT,VEHICLE,The VIN you entered is not included in the Set...
245,ACTIVE,66715,69,2012,INTERNATIONAL,7500,DUP1.1HTWWAZT0CJ539683,2014-01-15,NaT,VEHICLE,The VIN you entered is not included in the Set...
246,SOLD,C1073,53,2012,INTERNATIONAL,4300,DUP1.3HAJTSKM8CL410314,2017-01-02,NaT,VEHICLE,The VIN you entered is not included in the Set...
247,SOLD,25613,56,2012,INTERNATIONAL,7300,DUP2.1HTWBAAN1CJ089213,2015-06-25,NaT,VEHICLE,The VIN you entered is not included in the Set...
248,ACTIVE,25482,49,2011,INTERNATIONAL,7400,DUP2.1HTWGAAT7BJ288409,2016-06-29,NaT,VEHICLE,The VIN you entered is not included in the Set...
249,ACTIVE,200901,60,2013,INTERNATIONAL,7600,IHTGSSJT9DJ235142,2017-12-11,NaT,VEHICLE,The VIN you entered is not included in the Set...

In [12]:
df['Response'].value_counts()

The VIN you entered is not included in the Settlement as a Class Vehicle.    243
The VIN you entered is included in the Settlement as a Class Vehicle.          7
Name: Response, dtype: int64

In [13]:
df.columns

Index(['File', 'EQUIP #', 'CLASS', 'MODEL YEAR', 'MAKE', 'MODEL',
       'SERIAL NUMBER', 'IN SERVICE DATE', 'Sold Date ', 'ASSET TYPE',
       'Response'],
      dtype='object')

In [22]:
df.to_excel(output_dir + fileName.split('.')[0] + ' with response.xlsx',index = False)