In [7]:
import requests
import json
import re
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
source_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\LWilson\American Water\Source Data\\'
output_dir = r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Maxxforce action\LWilson\American Water\Output\\'
fileName = r'Team LWilson INT Truck VIN Validation.xlsx'
ClientName = r'American Water'

In [9]:
df = pd.read_excel(source_dir + fileName,sheet_name=ClientName)
display(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
Client                29 non-null object
Manufacturer          29 non-null object
Model/ Engine Type    29 non-null object
VIN                   29 non-null object
Year                  29 non-null int64
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

None

            Client Manufacturer Model/ Engine Type                VIN  Year
0   American Water   IHC                         *  1HTMMAAP6DH335846  2013
1   American Water   IHC                         *  1HTWGAAT1CJ051089  2012
2   American Water   IHC                         *  1HTMMAAN6DH303655  2013
3   American Water   IHC                         *  1HTMMAAL3DH147069  2013
4   American Water   IHC                         *  1HTWGAATXCJ059997  2012
5   American Water   IHC                         *  3HAMMAAM8DL218074  2013
6   American Water   IHC                         *  1HTMMAAL1BH392420  2011
7   American Water   IHC                         *  3HAMYSKM4BL390771  2011
8   American Water   IHC                         G  3HAMYSKMXBL390774  2011
9   American Water   IHC                         *  3HAMYSKM6BL390772  2011
10  American Water   IHC                         G  3HAMYSKM5BL390780  2011
11  American Water   IHC                         *  3HAMYSKM8BL390773  2011
12  American Water   IHC                         *  3HAMYSKM9BL390779  2011
13  American Water   IHC                         *  3HAMYSKM2BL392230  2011
14  American Water   IHC                         *  3HAJTSKLXCL052656  2012
15  American Water   IHC                         G  1HTMYSKL2CH620659  2012
16  American Water   IHC                         G  1HTMYSKL9CH620660  2012
17  American Water   IHC                         *  1HTMMAAL7DH333732  2013
18  American Water   IHC                         *  1HTMMAAL9DH333733  2013
19  American Water   IHC                         *  1HTMMAAL0DH333734  2013
20  American Water   IHC                         *  1HTMMAAL5DH333731  2013
21  American Water   IHC                         G  1HTJTSKL3CH621904  2012
22  American Water   IHC                         G  1HTMYSKL0CH620661  2012
23  American Water   IHC                         G  1HTMYSKL2CH620662  2012
24  American Water   IHC                         G  1HTMYSKL4CH620663  2012
25  American Water   IHC                         G  1HTMYSKL6CH620664  2012
26  American Water   IHC                         G  1HTMYSKL8CH620665  2012
27  American Water   IHC                         G  1HTMYSKLXCH620666  2012
28  American Water   IHC                         G  1HTMYSKL1CH620667  2012

In [5]:
for sheetname in df:
    print(sheetname)

American Water
BNSF
Estes Express
Ferrellgas
Kenan Advant. Group
Performance Food Group
Shred-It
Stan Koch Trucking
Werner Ent.

## American Water

In [ ]:
df.iloc[:,3]

In [ ]:
responses = pd.Series(None, index=range(len(df)))
responses

In [ ]:
for i in range(len(df)):
    print(i)
    VIN = df.iloc[i,3]
    r = requests.post('https://secure.maxxforce11and13.com/en/VinLookup',{'VinNumber':VIN})
    soup = BeautifulSoup(r.text,'lxml')
    target = soup.find('form').find('div',class_ = 'alert alert-danger')
    if target:
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
    else:
        target = soup.find('form').find('div',class_ = 'alert alert-success')
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
responses

In [ ]:
df['Response'] = responses.values

In [ ]:
df

In [ ]:
df['Response'].value_counts()

In [ ]:
df.columns

In [ ]:
df.to_excel(output_dir + fileName.split('.')[0] + ' with response.xlsx',index = False)

## BNSF

In [ ]:
df.iloc[:,3]

In [ ]:
responses = pd.Series(None, index=range(len(df)))
responses

In [ ]:
for i in range(len(df)):
    print(i)
    VIN = df.iloc[i,3]
    r = requests.post('https://secure.maxxforce11and13.com/en/VinLookup',{'VinNumber':VIN})
    soup = BeautifulSoup(r.text,'lxml')
    target = soup.find('form').find('div',class_ = 'alert alert-danger')
    if target:
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
    else:
        target = soup.find('form').find('div',class_ = 'alert alert-success')
        result= re.search(r'( {32})([\w\s]*\.)',str(target))
        responses[i] = result.group(2)
responses

In [ ]:
df['Response'] = responses.values

In [ ]:
df

In [ ]:
df['Response'].value_counts()

In [ ]:
df.columns

In [ ]:
df.to_excel(output_dir + fileName.split('.')[0] + ' with response.xlsx',index = False)