In [1]:
from CleanVIN import ValidationProcess, Col_to_str
import pandas as pd

In [2]:
df = pd.read_excel(r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Secure Link\Source\API\VINs to validate.xlsx')
df

                        VIN  RowID
0         1FDSE37F6WHB46480      1
1         1HVBBAAN9TH295537      2
2         1GNFG154X81173240      3
3         1HVBBABN2WH568336      4
4         1GBJG31K491142168      5
5         1HVBBAAN44H673734      6
6         1GB3GRBG0G1305627      7
7         1BAKGCSA8JF345393      8
8         1GBJG31F821189664      9
9         4UZABRFC1JCJT6587     10
10        1FTNS24263HA11260     11
11        1BAKDCKH05F226071     12
12        4DRBVAAP25A986852     13
13        1GB6G5BL9F1278784     14
14        1FD2E35L18DB33252     15
15        2C7WDGBG4JR303729     16
16             SSL000273000     17
17        1GBHG31Y8SF226554     18
18        1BAKGCKA69F257650     19
19        4DRBUSKN0AB236232     20
20        4UZABRDT6CCBP2493     21
21        1FTWF3BR1AEA75252     22
22        4DRBRAAN74B968133     23
23        4UZABRFC5JCJT6656     24
24             HF0000063000     25
25        1FDWE35F13HB13869     26
26        1GDHG31Y3SF552818     27
27        4UZABRDU5BCAU5032     28
28        1HVBBABP4XH201540     29
29        1T75L3B2XS1139050     30
...                     ...    ...
46867     4UZABRDT08CZ63901  46869
46868     4DRBUAFP16A988220  46870
46869     1GB6GUBGXH1194747  46871
46870     4UZABRDT8HCHS4924  46872
46871               L3BNR0N  46873
46872     1BAAHCPA02F205065  46874
46873            CAC84301S7  46875
46874     1T88P4E22B1138568  46876
46875  4UZABRDT0ACAR2149ADJ  46877
46876     1T7YU4E27B1135713  46878
46877     JTDZN3EU3HJ072126  46879
46878     4UZABRDT5DCBZ7449  46880
46879     1D4GP25R57B187511  46881
46880     2C4RDGBG2GR139996  46882
46881     1GBHG31C191155175  46883
46882     1T88N3B27X1068772  46884
46883     4DRBUAAP5AB142313  46885
46884     4DRBUC8P2GB221657  46886
46885     4UZAAXAK82CJ43236  46887
46886     1GB6G5BL8D1172162  46888
46887     1BAKFCKH75F228863  46889
46888     1FDSE37F3WHA40620  46890
46889     4DRBUSKN6AB229026  46891
46890     4UZAAXDG06CV69693  46892
46891     1N9MLACL7AC084161  46893
46892     4UZABRDU6BCAU5007  46894
46893     4UZABRDU1BCAU5058  46895
46894  1BABHCKA75F219447ADJ  46896
46895     4DRBUC8N2KB685538  46897
46896     1GDL7T1B7YJ525553  46898

[46897 rows x 2 columns]

In [ ]:
df[df.VIN.str.contains(";")]

In [ ]:
df[df.VIN.str.contains(",")]

In [3]:
df_1 = df.iloc[:10000,:]
df_2 = df.iloc[10000:20000,:]
df_3 = df.iloc[20000:30000,:]
df_4 = df.iloc[30000:40000,:]
df_5 = df.iloc[40000:,:]

In [ ]:
QC = pd.concat([df_1,df_2,df_3,df_4,df_5]) == df
QC[(QC['VIN'] == False)|(QC['RowID'] == False)]

## 5th Batch

In [ ]:
data_5 = Col_to_str(df_5[5000:],'VIN',';')
data_5.count(';')

In [ ]:
import glob
glob.glob(r'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Secure Link\Output\*')

In [4]:
process_5 = ValidationProcess(Col_to_str(df_5[5000:],'VIN',';'),4)
process_5.split_to_Chunk(4)['Chunk144']

'2C3HD46R62H103186;LS,35W,10CHB;4UZABRFC1JCJT6606;3GKGC26F7XG546060'

In [5]:
process_5.getValidation_table('Chunk144')

403

The Status code: 403, The input data is: 2C3HD46R62H103186;LS,35W,10CHB;4UZABRFC1JCJT6606;3GKGC26F7XG546060, The Chunk name is Chunk144
 Trying to split and run one by one.....
VIN: 2C3HD46R62H103186, status: 200

Successfully get the VIN: 2C3HD46R62H103186

VIN: LS,35W,10CHB, status: 200

Successfully get the VIN: LS,35W,10CHB

VIN: 4UZABRFC1JCJT6606, status: 200

Successfully get the VIN: 4UZABRFC1JCJT6606

VIN: 3GKGC26F7XG546060, status: 200

Successfully get the VIN: 3GKGC26F7XG546060

,OriginalVIN,VIN,BodyClass,Make,Manufacturer,Model,ModelYear,Series,Trim,VehicleType,SuggestedVIN,ErrorText
0,2C3HD46R62H103186,2C3HD46R62H103186,Sedan/Saloon,CHRYSLER,FCA CANADA INC.,Concorde,2002,LH,LX,PASSENGER CAR,,0 - VIN decoded clean. Check Digit (9th positi...
0,2C3HD46R62H103186,LS,,,,,,,,,,6 - Incomplete VIN; 7 - Manufacturer is not re...
0,2C3HD46R62H103186,4UZABRFC1JCJT6606,Incomplete - School Bus Chassis,FREIGHTLINER,FREIGHTLINER CUSTOM CHASSIS CORP.,B2 Bus Chassis,2018,,,INCOMPLETE VEHICLE,,0 - VIN decoded clean. Check Digit (9th positi...
0,2C3HD46R62H103186,3GKGC26F7XG546060,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,GMC,GENERAL MOTORS LLC,Suburban,1999,"Conventional Cab, 2500 (3/4 ton)",,MULTIPURPOSE PASSENGER VEHICLE (MPV),,0 - VIN decoded clean. Check Digit (9th positi...

In [ ]:
Col_to_str(df_5,'VIN',';').count(';')

In [ ]:
df_5 = df_2
temp = pd.DataFrame()
for i in range(Col_to_str(df_5,'VIN',';').count(';') // 1000 + 1):
    print(f'|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||current range:{i*1000} ~ {(i+1)*1000}\n\n')
    if (i + 1) * 1000 < Col_to_str(df_5,'VIN',';').count(';'):
        print(i*1000,(i+1)*1000)
        process_temp = ValidationProcess(Col_to_str(df_5[i*1000:(i+1)*1000],'VIN',';'),4)
        result_temp = process_temp.getAll()
        temp = pd.concat([temp,result_temp])
    else:
        print(i*1000 ,Col_to_str(df_5,'VIN',';').count(';'),'\n')
        process_temp = ValidationProcess(Col_to_str(df_5[i*1000:],'VIN',';'),4)
        result_temp = process_temp.getAll()
        temp = pd.concat([temp,result_temp])
    

temp
# process_5 = ValidationProcess(data_5,4)
# result_5 = process_5.getAll()





# filename = 'result_5'
# result_5.to_excel(rf'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Secure Link\Output\{filename}.xlsx')

In [ ]:
temp.to_excel(rf'C:\Users\FFR0103\Desktop\My files\WORK\Auto part\Secure Link\Output\result_2.xlsx')

In [ ]:
data_5

In [ ]:
process_5.split_to_Chunk(4)['Chunk12']

In [ ]:
import requests
import json
for i in range(6000):
    url = "https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/"
    post_fields = {
        "format": "json",
        "data": process_5.split_to_Chunk(4)['Chunk144'],
    }
    r = requests.post(url, data=post_fields)
    try:
        result = json.loads(r.text)
    except:
        print('4', '\n', r.text)
    print(i,r.status_code)
# df = pd.DataFrame(result["Results"])[
#     [
#         "VIN",
#         "BodyClass",
#         "Make",
#         "Manufacturer",
#         "Model",
#         "ModelYear",
#         "Series",
#         "Trim",
#         "VehicleType",
#         "SuggestedVIN",
#         "ErrorText",
#     ]
# ]
# df.insert(
#     0,
#     "OriginalVIN",
#     pd.Series(self.split_to_Chunk(4)['Chunk12'].split(";")),
# )


# df = pd.DataFrame(r.text["Results"])[
#     [
#         "VIN",
#         "BodyClass",
#         "Make",
#         "Manufacturer",
#         "Model",
#         "ModelYear",
#         "Series",
#         "Trim",
#         "VehicleType",
#         "SuggestedVIN",
#         "ErrorText",
#     ]
# ]
# df

In [15]:
df = pd.DataFrame(['LS,35W,10CHB','fjdklsfjds'],columns=['OriginalVIN'])
df.insert(0,'test',pd.Series('hfdjkshfkd'))
df

         test   OriginalVIN
0  hfdjkshfkd  LS,35W,10CHB
1         NaN    fjdklsfjds

In [ ]:
fd = process_temp.getValidation_table('Chunk3')

In [ ]:
pd.concat([fd,fd_1],sort = False)