# Remeber to update dictionary

In [1]:
import httplib2
import json
import sys
import codecs
import pandas as pd
from fuzzywuzzy import process
from fuzzywuzzy import fuzz
import numpy as np

In [2]:
ME_df = pd.read_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\F and E Series update 12020219.xlsx', sheet_name = 'MasterEligible', dtype=str)

In [ ]:
ME_df

In [ ]:
dictionary = {460:'ford',452:'bmw',467 :'chevrolet', 448:'toyota',477:'chrysler',476:'dodge',474:'honda', 480:'infiniti', 478: 'nissan'}

In [22]:
def getMake():
    url = ('https://vpic.nhtsa.dot.gov/api/vehicles/GetAllMakes?format=json')
    h = httplib2.Http()
    response, content = h.request(url, 'GET')
    result = json.loads(content)
    return pd.DataFrame(result['Results'])

def getMakeID(Make):
    url = ('https://vpic.nhtsa.dot.gov/api/vehicles/GetAllMakes?format=json')
    h = httplib2.Http()
    response, content = h.request(url, 'GET')
    result = json.loads(content)
    MK_df = pd.DataFrame(result['Results'])
    result_df = MK_df[MK_df['Make_Name'].str.contains(Make)]
    return result_df

def getModel(Make):
    url = ('https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMake/%s?format=json' %Make)
    h = httplib2.Http()
    response, content = h.request(url, 'GET')
    result = json.loads(content)
    return pd.DataFrame(result['Results'])

def getModel_Year(Make,Year):
    url = ('https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeYear/make/%s/modelyear/%s?format=json' %(Make,Year))
    h = httplib2.Http()
    response, content = h.request(url, 'GET')
    result = json.loads(content)
    return pd.DataFrame(result['Results'])

def getModel_Year_MakeID(MakeID,Year):
    url = ('https://vpic.nhtsa.dot.gov/api//vehicles/GetModelsForMakeIdYear/makeId/%s/modelyear/%s?format=json' %(MakeID,Year))
    h = httplib2.Http()
    response, content = h.request(url, 'GET')
    result = json.loads(content)
    return pd.DataFrame(result['Results'])

def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist
# With score
# def getExactMatch(Make_id,Year):
#     Rlist = []
#     try:
#         Valid_df = getModel_Year_MakeID(Make_id,Year)
        
#     except:
#         QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
#         Rlist=['No Such year in the Database'] *len(QC_Make_year)
#     else:
#         QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
#         for i in range(len(QC_Make_year.Model)):
#             str2Match = str(QC_Make_year.Model.values[i])
#             strOptions = [z for z in Valid_df.Model_Name]
#             Ratios= process.extractOne(str2Match,strOptions, scorer=fuzz.ratio)
#             Rlist.append((':'.join([ str(a) for a in list(Ratios)])))
#     return Rlist

def getTopMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)
        
    except:
        QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios= process.extractOne(str2Match,strOptions)
            Rlist.append(( list(Ratios)[0]))
    return Rlist

def getQCtable_OneYear(Make_id,Year):    
    QC_Make_Year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
    QC_Make_Year['TopMatch'] = getTopMatch(Make_id,Year)
    QC_Make_Year['MatchOptions'] = getMatch(Make_id,Year)        
    QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
    QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
    QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') for i in range(len(QC_Make_Year['TopMatch']))]
    QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make_Year

def getQCtable_Allyear(Make_id):    
    QC_Make = pd.DataFrame()
    Years = list(ME_df[ME_df.Make.str.lower() == dictionary[Make_id]].Year.unique())
    for Year in Years:
        QC_Make_Year = ME_df[(ME_df.Make.str.lower() == dictionary[Make_id]) & (ME_df.Year == Year)].sort_values(by=['Make','Year','Model'])
        QC_Make_Year['TopMatch'] = getTopMatch(Make_id,Year)
        QC_Make_Year['MatchOptions'] = getMatch(Make_id,Year)        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

# def getHightestScores(Make_id,Year):
#     Scores = []
#     if type(getMatch(Make_id,Year)[0]) !=str:
#         for rec in getMatch(Make_id,Year):
#             Scores.append(int(rec[0].split(': ')[1]))
#     else:
#         Scores='N/A'
#     return Scores

## Honda & Acura

In [23]:
getMakeID('Honda')

      Make_ID                           Make_Name
3804      474                               Honda
7596     7351  Sundiro  Honda Motorcycle Co. Ltd

In [ ]:
getMakeID('Acura')

In [38]:
# get relevent data from MasterEligible tabel
target = ME_df[(ME_df.Make.str.lower() == 'honda') | (ME_df.Make.str.lower() == 'acura')].sort_values(by=['Year','Make','Model'])
target

,Make,Model,Year,RyanAddRemoveDate,RyanEligibleFlag,RyanSource,RyanDescription
74,Acura,NSX,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
118,Acura,RL,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
164,Acura,TL,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4261,Honda,Civic,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4589,Honda,Odyssey,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
0,Acura,CL,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
18,Acura,EL,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
75,Acura,NSX,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
119,Acura,RL,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
165,Acura,TL,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4262,Honda,Civic,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4590,Honda,Odyssey,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4639,Honda,Prelude,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
19,Acura,EL,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
76,Acura,NSX,1998,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
120,Acura,RL,1998,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
166,Acura,TL,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4203,Honda,Accord,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4263,Honda,Civic,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4591,Honda,Odyssey,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4640,Honda,Prelude,1998,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
20,Acura,EL,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
77,Acura,NSX,1999,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
121,Acura,RL,1999,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
167,Acura,TL,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4204,Honda,Accord,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4264,Honda,Civic,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4592,Honda,Odyssey,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
4641,Honda,Prelude,1999,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
1,Acura,CL,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
...,...,...,...,...,...,...,...
4325,Honda,Civic Hybrid,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4340,Honda,Clarity,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4530,Honda,Fit,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4545,Honda,HR V,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4550,Honda,HR-V,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4546,Honda,HRV,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4611,Honda,Odyssey,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
4616,Honda,Passport,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4637,Honda,Pilot,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4663,Honda,Ridgeline,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
46,Acura,ILX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
73,Acura,MDX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
97,Acura,NSX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
117,Acura,RDX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
152,Acura,RLX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
206,Acura,TLX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4233,Honda,Accord,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4234,Honda,Accord,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4256,Honda,Accord Hybrid,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4365,Honda,CR V,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4436,Honda,CR-V,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4400,Honda,CRV,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4298,Honda,Civic,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4341,Honda,Clarity,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4531,Honda,Fit,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4569,Honda,Insight,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4612,Honda,Odyssey,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4617,Honda,Passport,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4638,Honda,Pilot,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
4664,Honda,Ridgeline,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4

In [39]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'honda')].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'honda')].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getHondaQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[target.Make.str.lower() == 'honda'].Year.unique())
    for Year in Years:
        temp1 = getMatch(474,Year)
        temp2 = getMatch(475,Year)
        QC_Make_Year = target[(target.Year == Year) & (target.Make.str.lower() == 'honda')].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] != 'N/A' and QC_Make_Year['HighestScore'].values[i] >=80  else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[(target.Make.str.lower() == 'acura') & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] != 'N/A' and QC_Make_Year['AlternativeHighestScore'].values[i] >= 80  else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Honda = getHondaQCtable_Allyear()


cross_sorted = cross_Honda.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Honda.xlsx',index = False)

In [40]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'acura')].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'acura')].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getAcuraQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[(target.Make.str.lower() == 'acura')].Year.unique())
    for Year in Years:
        temp1 = getMatch(475,Year)
        temp2 = getMatch(474,Year)        
        QC_Make_Year = target[(target.Year == Year) & (target.Make.str.lower() == 'acura')].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] != 'N/A' and  QC_Make_Year['HighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[(target.Make.str.lower() == 'honda') & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] != 'N/A' and QC_Make_Year['AlternativeHighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Acura = getAcuraQCtable_Allyear()

cross_sorted = cross_Acura.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Acura.xlsx',index = False)

## Toyota & Lexus

In [30]:
getMakeID('Toyota')

      Make_ID Make_Name
8120      448    Toyota

In [31]:
getMakeID('Lexus')

      Make_ID Make_Name
4762      515     Lexus

In [32]:
# get relevent data from MasterEligible tabel
target = ME_df[(ME_df.Make.str.lower() == 'toyota') | (ME_df.Make.str.lower() == 'lexus')].sort_values(by=['Year','Make','Model'])
target

,Make,Model,Year,RyanAddRemoveDate,RyanEligibleFlag,RyanSource,RyanDescription
10187,Toyota,Previa,1990,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10188,Toyota,Previa,1991,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6604,Lexus,SC,1992,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10189,Toyota,Previa,1992,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6605,Lexus,SC,1993,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10190,Toyota,Previa,1993,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6606,Lexus,SC,1994,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10191,Toyota,Previa,1994,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6362,Lexus,LS,1995,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
6607,Lexus,SC,1995,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10087,Toyota,Land Cruiser,1995,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10192,Toyota,Previa,1995,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10408,Toyota,Supra,1995,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10413,Toyota,Tacoma,1995,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6063,Lexus,ES,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
6363,Lexus,LS,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
6404,Lexus,LX,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
6608,Lexus,SC,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
9805,Toyota,4 Runner,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
9833,Toyota,4-Runner,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
9810,Toyota,4Runner,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
9976,Toyota,Corolla,1996,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
9977,Toyota,Corolla,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10004,Toyota,Corolla Matrix,1996,2017-12-05 00:00:00,Y,correction to list per Denise,Round 1 & 2
10088,Toyota,Land Cruiser,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10193,Toyota,Previa,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10409,Toyota,Supra,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10414,Toyota,Tacoma,1996,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6064,Lexus,ES,1997,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6364,Lexus,LS,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
...,...,...,...,...,...,...,...
10340,Toyota,RX,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10271,Toyota,Rav 4,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10331,Toyota,Rav-4,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10359,Toyota,Sequoia,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10382,Toyota,Sienna,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10438,Toyota,Tacoma,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10511,Toyota,Tundra,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
10629,Toyota,Yaris,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
6086,Lexus,ES,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6142,Lexus,GS,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6186,Lexus,GS F,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6201,Lexus,GS Hybrid,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6228,Lexus,GS-F,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6215,Lexus,GSF,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6295,Lexus,IS,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6344,Lexus,LC,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6348,Lexus,LC Hybrid,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6456,Lexus,RC,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6462,Lexus,RC F,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6473,Lexus,RC-F,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6468,Lexus,RCF,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6498,Lexus,RX,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
6543,Lexus,RX Hybrid,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
9885,Toyota,Avalon,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10003,Toyota,Corolla,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10111,Toyota,Land Cruiser,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10309,Toyota,RAV4,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10272,Toyota,Rav 4,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10332,Toyota,Rav-4,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
10360,Toyota,Sequoia,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4

In [36]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'toyota')].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'toyota')].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getToyotaQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[target.Make.str.lower() == 'toyota'].Year.unique())
    for Year in Years:
        temp1 = getMatch(448,Year)
        temp2 = getMatch(515,Year)
        QC_Make_Year = target[(target.Year == Year) & (target.Make.str.lower() == 'toyota')].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] != 'N/A' and QC_Make_Year['HighestScore'].values[i] >=80  else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[(target.Make.str.lower() == 'lexus') & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] != 'N/A' and QC_Make_Year['AlternativeHighestScore'].values[i] >= 80  else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Toyota = getToyotaQCtable_Allyear()


cross_sorted = cross_Toyota.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Toyota.xlsx',index = False)

In [37]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'lexus')].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'lexus')].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getLexusQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[(target.Make.str.lower() == 'lexus')].Year.unique())
    for Year in Years:
        temp1 = getMatch(515,Year)
        temp2 = getMatch(448,Year)        
        QC_Make_Year = target[(target.Year == Year) & (target.Make.str.lower() == 'lexus')].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] != 'N/A' and  QC_Make_Year['HighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[(target.Make.str.lower() == 'toyota') & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] != 'N/A' and QC_Make_Year['AlternativeHighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Lexus = getLexusQCtable_Allyear()

cross_sorted = cross_Lexus.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Lexus.xlsx',index = False)

## Nissan & Infiniti

In [ ]:
getMakeID('Nissan')

In [ ]:
getMakeID('Infiniti')

In [7]:
# get relevent data from MasterEligible tabel
target = ME_df[(ME_df.Make.str.lower() == 'nissan') | (ME_df.Make.str.lower() == 'infiniti')| (ME_df.Make.str.lower() == 'infinity')].sort_values(by=['Year','Make','Model'])
target

,Make,Model,Year,RyanAddRemoveDate,RyanEligibleFlag,RyanSource,RyanDescription
8206,Nissan,300ZX,1995,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8207,Nissan,300ZX,1996,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5142,Infiniti,Q45,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8352,Nissan,Frontier,1997,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8262,Nissan,Altima,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8353,Nissan,Frontier,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8690,Nissan,Sentra,1998,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8263,Nissan,Altima,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8354,Nissan,Frontier,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8691,Nissan,Sentra,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8789,Nissan,Xterra,1999,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
5005,Infiniti,G20,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5040,Infiniti,I30,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5048,Infiniti,I35,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5064,Infiniti,J30,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5143,Infiniti,Q45,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5226,Infiniti,QX4,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8202,Nissan,200SX,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8205,Nissan,240SX,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8208,Nissan,300ZX,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8264,Nissan,Altima,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8296,Nissan,Altra,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8355,Nissan,Frontier,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8394,Nissan,Hardbody,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8457,Nissan,Maxima,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8590,Nissan,Pathfinder,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8631,Nissan,Quest,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8692,Nissan,Sentra,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
8761,Nissan,TX-A Chassis,2000,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8736,Nissan,Tsubame,2000,2017-11-30 00:00:00,Y,autopartsclass.com List,Round 1 & 2
...,...,...,...,...,...,...,...
8588,Nissan,NV-Series,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8564,Nissan,NV200,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8608,Nissan,Pathfinder,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8665,Nissan,Rogue,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8669,Nissan,Rogue Sport,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8684,Nissan,Rouge,2018,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8710,Nissan,Sentra,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8732,Nissan,Titan,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
8783,Nissan,Versa,2018,2018-05-17 16:53:40.733000,Y,round 3 list per Denise,Round 3
5165,Infiniti,Q50,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
5175,Infiniti,Q60,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
5223,Infiniti,Q80,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8233,Nissan,370 Z,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8260,Nissan,370-Z,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8258,Nissan,370Z,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8283,Nissan,Altima,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8321,Nissan,Armada,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8374,Nissan,Frontier,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8377,Nissan,GT R,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8393,Nissan,GT-R,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8380,Nissan,GTR,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8446,Nissan,Leaf,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8476,Nissan,Maxima,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8501,Nissan,Murano,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8538,Nissan,NV,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8589,Nissan,NV-Series,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8609,Nissan,Pathfinder,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8670,Nissan,Rogue Sport,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8685,Nissan,Rouge,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4
8733,Nissan,Titan,2019,2019-09-25 16:03:15.593000,Y,Round 4 Eligible Vehicle List 09-18-2019.XLSX ...,Round 4

In [8]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'nissan')].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & (target.Make.str.lower() == 'nissan')].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getNissanQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[target.Make.str.lower() == 'nissan'].Year.unique())
    for Year in Years:
        temp1 = getMatch(478,Year)
        temp2 = getMatch(480,Year)
        QC_Make_Year = target[(target.Year == Year) & (target.Make.str.lower() == 'nissan')].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[((target.Make.str.lower() == 'infiniti')|(target.Make.str.lower() == 'infinity')) & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Nissan = getNissanQCtable_Allyear()
cross_Nissan

cross_sorted = cross_Nissan.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Nissan.xlsx',index = False)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
def getMatch(Make_id,Year):
    Rlist = []
    try:
        Valid_df = getModel_Year_MakeID(Make_id,Year)

    except:
        QC_Make_year = target[(target.Year == Year) & ((target.Make.str.lower() == 'infiniti')|(target.Make.str.lower() == 'infinity'))].sort_values(by=['Year','Make','Model'])
        Rlist=['No Such year in the Database'] *len(QC_Make_year)
    else:
        QC_Make_year = target[(target.Year == Year) & ((target.Make.str.lower() == 'infiniti')|(target.Make.str.lower() == 'infinity'))].sort_values(by=['Year','Make','Model'])
        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = [z for z in Valid_df.Model_Name]
            Ratios = process.extract(str2Match,strOptions)
            Rlist.append([a + ': ' +str(dict(Ratios)[a]) for a in dict(Ratios)])
    return Rlist


def getInfinitiQCtable_Allyear():    
    QC_Make = pd.DataFrame()
    Years = list(target[(target.Make.str.lower() == 'infiniti')|(target.Make.str.lower() == 'infinity')].Year.unique())
    for Year in Years:
        temp1 = getMatch(480,Year)
        temp2 = getMatch(478,Year)        
        QC_Make_Year = target[(target.Year == Year) & ((target.Make.str.lower() == 'infiniti')|(target.Make.str.lower() == 'infinity'))].sort_values(by=['Year','Make','Model'])
        QC_Make_Year['TopMatch'] = [i[0].split(':')[0] for i in temp1]
        QC_Make_Year['MatchOptions'] = temp1        
        QC_Make_Year['Match'] = np.where(QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(), 'Yes', 'No')
        QC_Make_Year['HighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in QC_Make_Year['MatchOptions']]
        QC_Make_Year['TopMaTchExsting'] = [np.where(QC_Make_Year['TopMatch'].values[i].lower() in QC_Make_Year.Model.str.lower().unique(),'Yes','No') if QC_Make_Year['HighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make_Year['AlternativeTopMatch'] = [i[0].split(':')[0] for i in temp2]
        QC_Make_Year['AlternativeHighestScore'] = [int(rec[0].split(': ')[1]) if type(rec) != str else 'N/A' for rec in temp2]
        QC_Make_Year['AlternativeExsiting'] =[np.where(QC_Make_Year['AlternativeTopMatch'].values[i].lower() in target[(target.Make.str.lower() == 'nissan') & (target.Year == Year)].Model.str.lower().unique(),'Yes','No') if QC_Make_Year['AlternativeHighestScore'].values[i] >= 80 else 'No' for i in range(len(QC_Make_Year['TopMatch']))]
        QC_Make = pd.concat([QC_Make,QC_Make_Year])
    return QC_Make

cross_Infinit = getInfinitiQCtable_Allyear()
cross_Infinit

cross_sorted = cross_Infinit.sort_values(by=['HighestScore','AlternativeHighestScore','Make','Model','Year'],ascending = [False,False,True,True,True])
cross_sorted.to_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\test\\cross_Infinit.xlsx',index = False)